<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default.html}">
	  
<!-- th:replace="경로 :: 조각이름" -->

<head th:replace="fragments/head :: headFragment"></head>
<body>
<!-- 사용자 정의 contents -->
<th:block layout:fragment="customContents">


<div class="row">
	<div class="col-xl-12">
		<div class="card">
			<div class="card-body">
				<!-- tab 영역 시작 -->
				<h4 class="card-title mb-3">연차/휴가 관리</h4>
				
				<ul class="nav nav-tabs nav-justified nav-bordered mb-3">
					<li class="nav-item">
						<a href="#home1" data-toggle="tab" aria-expanded="true" class="nav-link rounded-0 active">
							<i class="mdi mdi-home-variant d-lg-none d-block mr-1"></i>
							<span class="d-none d-lg-block">휴가등록</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="#profile1" data-toggle="tab" aria-expanded="false" class="nav-link rounded-0">
							<i class="mdi mdi-account-circle d-lg-none d-block mr-1"></i>
							<span class="d-none d-lg-block">휴가사용내역</span>
						</a>
					</li>
				</ul>
				<!-- tab 영역 끝 -->
				<!-- ================================================== -->
				<!-- tab-content 영역 시작 -->
				<!-- ================================================== -->
				<div class="tab-content">
					<!--========== 휴가등록 tab 시작 ==========-->
					<div class="tab-pane active" id="home1">							
						<div class="row" id="annualRegForm">
							<div class="col-12">
								<!-- 내 휴가 정보 start -->
								<div class="col-xl-12">
								<div class="card">
									<div class="card-body">
										<h6 class="card-subtitle" style="text-align: center; padding: 1rem;">당신의 입사일은 <code>&lt;-&gt;</code>일입니다.</h6>
										<div class="row" id="column">
											<!-- Column -->
											<div class="col-md-6 col-lg-3 col-xlg-3">
												<div class="card card-hover">
													<div class="p-2 bg-primary text-center" id="totalWorkDate">
														<h1 class="font-light text-white">370</h1>
														<h6 class="text-white">총근무일</h6>																	
													</div>
												</div>
											</div>
											
											<!-- Column -->
											<div class="col-md-6 col-lg-3 col-xlg-3">
												<div class="card card-hover">
													<div class="p-2 bg-cyan text-center" id="inYear">
														<h1 class="font-light text-white">2</h1>
														<h6 class="text-white">년차</h6>
													</div>
												</div>
											</div>
											<!-- Column -->
											<div class="col-md-6 col-lg-3 col-xlg-3">
												<div class="card card-hover" id="anuualGrant">
													<div class="p-2 bg-success text-center">
														<h1 class="font-light text-white">1100</h1>
														<h6 class="text-white">휴가부여일수</h6>
													</div>
												</div>
											</div>
											<!-- Column -->
											<div class="col-md-6 col-lg-3 col-xlg-3">
												<div class="card card-hover">
													<div class="p-2 bg-danger text-center" id="remainingTime">
														<h1 class="font-light text-white">9</h1>
														<h6 class="text-white">잔여일수</h6>
													</div>
												</div>
											</div>
											<!-- Column -->
										</div> <!-- row end / Column -->										
									</div><!-- card-body end -->
								</div>
								</div>
								<!-- 내 휴가 정보 end -->

								<!-- 휴가등록 form start -->
								<div class="card">
									<div class="card-body" id="annualSubmitCard" style="padding: 0;">												
										<h4 class="card-title col-12" style="margin-bottom: 1rem;">Annual Registration</h4>
										<form th:action="@{/annual/annualList}" id="annualForm">
											<div class="form-body">
												<!-- form 1행 -->
												<div class="input-group">
													<!-- 휴가신청일 -->
													<div class=" col-4">
														<div class="input-group-prepend">
															<span class="input-group-text " id="basic-addon1">휴가신청일</span>
															<input type="date" class="form-control" id="regDate" value="yyyy-mm-dd">
														</div>
													</div>
													<!-- 휴가 구분 -->
													<div class="col-4" style="padding:0;">
														<div class="input-group-append">
															<span class="input-group-text" id="basic-addon2">휴가 구분</span>
															<select class="form-control" id="controlSelect">
										<!-- 수정!  -->
																<th:block th:if="${not #lists.isEmpty(list3)}" th:each="l : ${list3}">
																	<option th:text="${l.annual}"></option>
																	<option value="val1">연차</option>
																	<option value="val2">보상</option>
																	<option value="val3">경조</option>
																	<option value="val4">병가</option>
																	<option value="val5">보건</option>
																	<option value="val6">공가</option>
																	<option value="val7">기타</option>
																</th:block>
															</select>
														</div>																																				
													</div>
													<div class="input-group mb-3 col-4">
														<!-- 월/반차선택 radio -->
														<div id="selectRadio">
															<div class="input-group-prepend">
																<span class="input-group-text" id="basic-addon3" >사용일수</span>
																<div class="radio"  style="margin:auto 0;">
																	<label for="radio1" style="margin:0 0 0 1em;">
																		<input type="radio" id="radio1" name="radio" value="1.0"> 1.0
																	</label>
																	<label for="radio1" style="margin:0 0 0 1em;">
																		<input type="radio" id="radio2" name="radio" value="0.5"> 0.5
																	</label>
																	<!-- <label for="radio1" id="etcView" style="margin:0 0 0 1em; display: none;">
																		<input type="radio" id="radio3" name="radio" value="기타" placeholder="기타 선택 시 입력해주세요">
																	</label> -->
																</div>
															</div>
														</div>																		
													</div>
												</div>
												<!-- form 2행 -->
												<!-- 휴가 기간 -->
												<div class="input-group mb-3 col-12" style="padding: 0;">
													<div class="col-5">
														<div style="display: flex; margin: auto 0; width: auto;">
															<div class="input-group-append">
																<span class="input-group-text" id="basic-addon4">휴가 기간</span>
															</div>
															<!-- datetimepicker test start -->
															
															<div class="input-group input-daterange" id="dateFormat">
																<input type="date" class="form-control" id="startDate" value="yyyy-mm-dd">
																<div class="input-group-addon" style="margin: auto 0;"> - </div>
																<input type="date" class="form-control" id="endDate" value="yyyy-mm-dd">
																<!-- <p>(  일)</p> >> 일 수 계산할 수 있으면 좋을것같은데~ -->
															</div>
															<!-- datetimepicker test end -->																			
														</div>																
													</div>																	
													<!-- 결재자 선택 -modal -->																											
													<div class="col-3" style="margin: auto 0; display: flex;">
														<div class="input-group-append">
															<span class="input-group-text" id="basic-addon5">결재자</span>																			
														</div>																		
														<input type="text" class="form-control" id="chooseApproval">
														<!-- 결재자 선택 modal창 버튼 -->
														<button type="button" class="btn waves-effect waves-light btn-light" data-toggle="modal" data-target="#ApprovalSearchModal" id="btnApprovalSearchModal">											
															<span aria-hidden="true">
																<i class="fas fa-search"></i>
															</span>
														</button>
														<!-- 결재자 선택 modal form -->
														<div class="modal fade" id="ApprovalSearchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="height: 110%">
															<div class="modal-dialog" role="document">
																<div class="modal-content">
																	<div class="modal-header">
																		<h4 class="modal-title" id="myModalLabel">휴가 신청</h4>
																		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																			<span aria-hidden="true">×</span>
																		</button>
																	</div>
																	<!-- 결재자 선택 modal-body -->
																	<div class="modal-body">
																	 
																	<!-- 결재자 선택 form 시작 -->
																		<form action="@{/annual/annualList}" method="get">	<!-- 이런식으로 보내는건가?  -->																					
																			<!-- 부서선택 시작 -->
																			<div class="card">
																				<div class="form-group">
																					<label for="controlSelect">부서</label>
																					<select class="form-control" id="department">
																						<option value="val1">부서선택</option>
																						<option value="val2">경영/관리</option>
																						<option value="val3">총무/서무</option>
																						<option value="val4">인사/노무</option>
																						<option value="val5">세무/회계</option>
																						<option value="val6">판매/영업</option>
																						<option value="val7">제조/생산</option>
																						<option value="val8">직접입력</option>
																					</select> 
																				</div>
																			</div><!-- 부서선택 끝 -->
																			<!-- 직급선택 시작 -->
																			<div class="card">
																				<div class="form-group">
																					<label for="controlSelect">직급</label>
																					<select class="form-control" id="department">
																						<option value="val1">직급선택</option>
																						<option value="val2">사원</option>
																						<option value="val3">대리</option>
																						<option value="val4">과장</option>
																						<option value="val5">부장</option>
																						<option value="val6">부사장</option>
																						<option value="val7">사장</option>
																						<option value="val8">직접입력</option>
																					</select> 
																				</div>
																			</div><!-- 직급선택 끝 -->
																		</form> <!-- 결재자 선택 form 끝 -->
																	
																	</div>
																	<!-- 결재자 선택 modal-footer -->
																	<div class="modal-footer" style="padding: 0.5rem">
																		<button type="button" class="btn btn-cancle" data-dismiss="modal" id="btnCancle">
																			취소
																		</button>
																		<button type="button" class="btn btn-primary" id="btnPrimary">
																			확인	
																		</button>
																	</div> <!-- 결재자 선택 modal-footer end -->
																</div>
															</div>
														</div>
													</div>
													<!-- 첨부파일 등록 -->											
													<div class="col-4">
														<div style="margin: auto 0;">
														<span class="input-group-text" id="basic-addon4" style="display: block;">증명자료 첨부</span>
													
														<label class="custom-file-label" for="inputGroupFile01" style="width: 70%;">Choose file..</label>
														</div>
														
													</div>
													
												</div>
												<!-- 휴가 사유 -->
												<div class="input-group mb-3 col-12">																	
													<div class="input-group-prepend">
														<span class="input-group-text " id="basic-addon1">휴가 사유</span>
													</div>																	
													<input type="text" class="form-control col-12" placeholder="" aria-label="title" aria-describedby="basic-addon1">															
												</div>
												
											</div> <!-- 휴가등록 form end -->
											<!-- 휴가등록 form-actions start -->
											<div class="col-12">
												<div class="text-right">
													<div>
													<button type="button" class="btn btn-info" id="btnSubmit" onclick="document.getElementById('#annualForm').submit();" value="전송">Submit</button>
													<a href="#" onclick="document.getElementById('#annualForm').submit();"></a>
													<button type="reset" class="btn btn-dark" value="취소" id="btnReset">Reset</button>
													</div>
													<!-- <button type="submit" class="btn btn-info" value="등록" id="btnSubmit">Submit</button> -->
												</div>
											</div> <!-- 휴가등록 form-actions end -->
										</form>
									</div> <!-- card-body end / annualRegForm -->
								</div> <!-- card end / annualRegForm -->
							</div> <!-- col end / annualRegForm -->
						</div> <!-- end row / annualRegForm -->
						
						<!-- annaulApplicationList table start -->
						<h4 class="card-title col-12" style="margin: auto 0;">Annual Application List</h4>
						
						<div class="card">
							<div class="card-body" id="annualApplicationList">
								<div class=" col-12" style="padding:0;">
									<!-- 휴가등록 list table 시작 -->
									<div class="table-responsive">
										<table class="table" style="text-align: center; font-size: 0.9rem; " id="anuualApplicationTable">
											<thead>
												<tr>
													<!-- <th:block th:if="${not #lists.isEmpty(list1)}" th:each="l : ${list1}">
														<th th:text="${l.anuual}">
													</th:block> -->
													<th scope="col">#</th>
													<th scope="col">신청일</th>
													<th scope="col">시작일</th>
													<th scope="col">종료일</th>
													<th scope="col">휴가 구분</th>
													<th scope="col">사용일수</th>
													<th scope="col">결재진행상태</th>
													<th scope="col">첨부파일</th>
												</tr>
											</thead>
											<tbody>
												<tr th:if="${not #lists.isEmpty(annualApplication)}" th:each="l : ${annualApplication}"> 
													<td></td>
													<td th:text="${l.annualStartDate}"></td>
													<td th:text="${l.annualEndDate}"></td>
													<td th:text="${l.cateAnnual}"></td>
													<td th:text="${l.useDate}"></td>
													<td th:text="${l.approvalRequestCode}"></td>
													<td th:text="${l.attachFileName}"></td>
												</tr>
											</tbody>
										</table>
									</div><!-- 휴가등록 list table 끝 -->												
										<!-- 페이지 번호 시작 -->
										<div style="display:flex; justify-content: space-around;">
											<ul class="pagination float-right">
												<li class="page-item disabled">
													<a class="page-link" href="#" tabindex="-1">Previous</a>
												</li>
												<li class="page-item active"><a class="page-link" href="#">1</a></li>
												<li class="page-item">
													<a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
												</li>
												<li class="page-item"><a class="page-link" href="#">3</a></li>
												<li class="page-item">
													<a class="page-link" href="#">Next</a>
												</li>
											</ul>						
										</div><!-- 페이지 번호 끝 -->
								</div> <!-- annaulApplicationList table end -->
							</div>
							<div>
	
							</div> <!-- card-body end -->												
						</div> <!-- card end -->
						
						
						 
						
	
					</div>
					<!--========== 휴가등록 tab 끝 ==========-->
					
					<!--========== 휴가사용내역 tab 시작 ==========-->

					<!-- 휴가사용내역 영역 strat -->
					<div class="tab-pane show" id="profile1">
						<div class="card">
							<div class="card-body" style="padding: 0;">
								<!-- 휴가사용내역 search form 영역 start -->
								<div class="card">
									<div class="card-body">
										<div class="col-12" style="padding: 0; justify-content: center; display: flex;" id="useListSearchForm">
											<div class="col-3">
											
												<form>
													<select>
														<option>2022</option>
														<option>2021</option>
														<option>2020</option>
														<option>2019</option>
														<option>...</option>
													</select>
												</form>
											</div>
											<div class="col-3"></div>
											<div class="col-3"></div>
											<div class="col-3" style="display: inline;">
												<form>
													<input type="search" class="form-control form-control-sm">
												</form>
												<button type="button">검색</button>
											</div>
											
										</div>
									
									</div>
								</div> <!-- 휴가사용내역 search form 영역 end -->
								<!-- 휴가사용내역 table 영역 strat -->
								<table class="table" style="text-align: center; font-size: 0.9rem;" id="anuualUseTable">
										<thead class="thead-light" >
											<tr>
												<th scope="col">번호</th>
												<th scope="col">신청일</th>
												<th scope="col">시작일</th>
												<th scope="col">종료일</th>
												<th scope="col">제목</th>
												<th scope="col">휴가 구분</th>
												<th scope="col">전일/반일 구분</th>
												<th scope="col">결재진행상태</th>
												<th scope="col">사용여부</th>
												<th scope="col">첨부파일</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<th scope="row">1</th>
												<td>2022.02.02</td>
												<td>2022.02.02</td>
												<td>2022.02.03</td>
												<td>@mdodfjahldsjkfhs adfsdf </td>
												<td>보상</td>
												<td>전일</td>
												<td>진행중</td>
												<td>여</td>
												<td>.xlsx</td>
											</tr>
											<tr>
												<th scope="row">2</th>
												<td>2022.02.02</td>
												<td>2022.02.02</td>
												<td>2022.02.03</td>
												<td>@fatejkb jdshjt dsf sdfasdfdsf u</td>
												<td>경조</td>
												<td>전일</td>
												<td>완료</td>
												<td>여</td>
												<td>.xlsx</td>
											</tr>
											<tr>
												<th scope="row">3</th>
												<td>2022.02.02</td>
												<td>2022.02.02</td>
												<td>2022.02.03</td>
												<td>@twitter dkfhak ei fadf asdf dihs</td>
												<td>병가</td>
												<td>반일</td>
												<td>반려</td>
												<td>부</td>
												<td>.xlsx</td>
											</tr>
										</tbody>
									</table><!-- 휴가사용내역 table 영역 end -->
								</div>
							</div>

						
					</div>
					<!--========== 휴가사용내역 tab 끝 ==========-->
					
				</div>
				<!-- ================================================== -->
				<!-- tab-content 영역 끝 -->
				<!-- ================================================== -->

			</div> <!-- end card-body / Container fluid -->
		</div> <!-- end card / Container fluid -->
	</div> <!-- end col / Container fluid  -->
</div> <!-- end row / Container fluid -->

	
</th:block>	

<th:block layout:fragment="customScript">
	
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/assets/libs/popper.js/dist/umd/popper.min.js}"></script>
    <script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.min.js}"></script>
    <!-- apps -->
    <!-- apps -->
    <script th:src="@{/dist/js/app-style-switcher.js}"></script>
    <script th:src="@{/dist/js/feather.min.js}"></script>
    <script th:src="@{/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
    <script th:src="@{/dist/js/sidebarmenu.js}"></script>
    <!--Custom JavaScript -->
    <script th:src="@{/dist/js/custom.min.js}"></script>
    <!--This page JavaScript -->
    <script th:src="@{/assets/extra-libs/c3/d3.min.js}"></script>
    <script th:src="@{/assets/extra-libs/c3/c3.min.js}"></script>
    <script th:src="@{/assets/libs/chartist/dist/chartist.min.js}"></script>
    <script th:src="@{/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js}"></script>
    <script th:src="@{/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js}"></script>
    <script th:src="@{/assets/extra-libs/jvector/jquery-jvectormap-world-mill-en.js}"></script>
    <script th:src="@{/dist/js/pages/dashboards/dashboard1.min.js}"></script>	
	

<!--============ 연차등록 form start ============-->
	// test
	<script type="text/javascript">
		$(function(){
			$(document).on('click',)
		});
	</script>

	// 휴가등록 form submit클릭
	<script type="text/javascript">
		$(function(){
			$('#btnSubmit').click(function(){
				alert('등록하시겠습니까?');
				/* 전송 아니면 모달창 띄우기 */
			});
		/* alert('등록이 완료되었습니다.'); */
		});
	</script>
	
	// 휴가등록 결재자 검색 modal 열기
	<script type="text/javascript">
		$(function(){
			$('#btnApprovalSearch').click(function(){
				$('#ApprovalSearchModal').modal('show');
			});
		});
	</script>



	 
	 
	 // 휴가등록테이블 사용휴가조회 modal(사원) test
  <script type="text/javascript">
 	$(function(){
 		$('#btnUseAnnualSearch').click(function(){
 			$('#useAnnualSearch').modal('show');
 		});
 	});
 </script>
	 
	 
	// 연차등록 모달 확인,취소버튼 클릭시 
<!-- modal 확인취소버튼 test1 -->
 	<script type="text/javascript">
	
   		$(function(){
			$('#btnPrimary').click(function(){
				$('#myModal').modal('hide');
					alert('등록이 완료되었습니다.');
			});
			
			$('#btnCancle').click(function(){
				alert('취소하시겠습니까?');
				$('#myModal').modal('hide');
			});
		}); 
   	</script>
<!-- modal 확인취소버튼 test1 -->

<!-- modal 확인취소버튼 test2 -->

  	<script type="text/javascript">
	/* 	$(document).ready(function(){
			$('#btnPrimary').click(function(){
				
				var result = confirm('등록하시겠습니까?');
				
				if(result){
					location.relpace('annual.html');
					/* $('#btnPrimary').modal('hide'); 
					alert('등록이 완료되었습니다.');
				}else{
					
				}
			});
		}); */
	</script>
<!-- modal 확인취소버튼 test2 -->	

<!-- form 전송 test1 -->
	<script type="text/javascript">
		$(document).ready(function(){
			$("form").submit(function(event){
				var addon1 = $('#basic-addon1').val();
				var addon2 = $('#basic-addon2').val();
				var addon3 = $('#basic-addon3').val();
				var addon4 = $('#basic-addon4').val();
				
				if(addon1 == ""){
					alert("신청일을 입력해주세요");
					event.preventDefault();
					return;
				}
				
				$('btnSubmit').click(function(){
					$("form").submit();
				})
			})
		})
	</script>
	
<!-- form 전송 test1 -->	


<!--============ 연차등록  form end ============-->






<!--============ 연차등록  등록버튼 유효성검사 start ============-->
	<script>
		function btnSubmit(AnnualList){
			$('#annualSubmitCard').empty();
			
			$(document).ready(function(){
				$('#btnSubmit').click(function(){
					
					if(AnnualList != null $$ AnnualList.lenght > 0){
						$.each($(AnnualList), function())
					}
				});
			});
				
					
			
			
			
			
		};
	
	</script>

<!--============= 연차등록  등록버튼 유효성검사 end =============-->




<!--============ 연차등록  form 전송/ajax start ============-->
	<script>
		$(function(){
			
		});
	</script>


<!--============= 연차등록  form 전송/ajax end =============-->





<!--============ 휴가사용내역 start ============-->
/* 테이블에 모달값 받기 */

<!-- modal data test1 -->
 	<script type="text/javascript">
		$(function(){
			$('#btnPrimary').click(function(){
				var dataArrayToSend=[];
				var dataArrayToSend1=[];
				
				$('#modalDataTable').each(function(){
					var len =$(this).find('td').length;
					
					for(var i=0; i<len; i++;){
						dataArrayToSend.push($(this).find("td").eq(i).text());
					};
					dataArrayToSend1.push(dataArrayToSend);
				});
								
			});
			
		});
	</script>
<!-- modal data test1 -->
<!--============ 휴가사용내역 end ==============-->


<!--============ 연차등록버튼 modal start ===============-->

	 // 연차등록 모달창 열기
	<script type="text/javascript">
		$(function(){
			$('#btnMyModal').click(function(){
				$('#MyModal').modal('show');
			});
		});
	// 연차등록 구분 셀렉트박스 
			$(function(){
			$('#controlSelect').click(function(){
				alert('select');
			});
		})
	</script> 
<!--============= 연차등록버튼 modal end ================-->




	
</th:block>