<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- th:replace="경로 :: 조각이름" -->
<th:block layout:fragment="customHeadScript">
	<head th:replace="fragments/head :: headFragment"></head>
</th:block>
<body>
	<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
	        data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
		<div th:replace="fragments/header :: headerFragment"></div>
		<div th:replace="fragments/leftmenu :: leftmenuFragment"></div>
		<div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- 사용자 정의 콘텐츠  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
            	<th:block layout:fragment="customContents">
					
				</th:block>
            </div>
            <!-- ============================================================== -->
            <!-- 사용자 정의 콘텐츠 끝  -->
            <!-- ============================================================== -->
		    <div th:replace="fragments/footer :: footerFragment"></div>
		</div>
	</div>
	<th:block layout:fragment="customScript"></th:block>
      	<script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
		<script th:src="@{/assets/libs/popper.js/dist/umd/popper.min.js}"></script>
		<script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.min.js}"></script>
		<!-- ============================================================== -->
		<!-- apps -->
		<!-- ============================================================== -->
		<script th:src="@{/dist/js/app-style-switcher.js}"></script>
		<script th:src="@{/dist/js/feather.min.js}"></script>
		<script th:src="@{/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
		<script th:src="@{/dist/js/sidebarmenu.js}"></script>
		<!-- ============================================================== -->
		<!--Custom JavaScript -->
		<!-- ============================================================== -->
		<script th:src="@{/dist/js/custom.min.js}"></script>
		<!-- ============================================================== -->
		<!--This page JavaScript -->
		<!--This page plugins -->
    	<script th:src="@{/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js}"></script>
    	<script th:src="@{/dist/js/pages/datatable/datatable-basic.init.js}"></script>
		<!-- ============================================================== -->
		<script th:src="@{/assets/extra-libs/c3/d3.min.js}"></script>
		<script th:src="@{/assets/extra-libs/c3/c3.min.js}"></script>
		<script th:src="@{/assets/libs/chartist/dist/chartist.min.js}"></script>
		<script th:src="@{/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js}"></script>
		<script th:src="@{/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js}"></script>
		<script th:src="@{/assets/extra-libs/jvector/jquery-jvectormap-world-mill-en.js}"></script>
		<script th:src="@{/dist/js/pages/dashboards/dashboard1.min.js}"></script>
    
</body>
</html>