<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default.html}">
<th:block layout:fragment="customHeadScript">
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/favicon.png}">
	    <title>개인 정보 수정</title>
	    <link th:href="@{/dist/css/style.min.css}" rel="stylesheet">
	    <script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
	</head>
</th:block>

	<!-- 사용자 정의 contents -->
	<th:block layout:fragment="customContents">
		<!-- ============================================================== -->
	    <!-- Start Page Content -->
	    <!-- ============================================================== -->
	    <form id="modifyForm" th:action="@{/member/emply_modify_my}" method="post">
	    <div class="card-body">
	        <h4 class="card-title">개인 정보 수정</h4>
	        <div class="table-responsive">
	            <table class="table">
	                <thead class="bg-primary text-white">
	                    <tr>
	                        <th>#</th>
	                    </tr>
	                </thead>
	                <tbody>
	                	<tr>
	                		<td>
	                			<div class="form-group">
									<div class="row">
										<label class="col-lg-1 mt-2">프로필사진</label>
										<div class="col-lg-11">
											<div class="row">
												<div class="col-md-3">
												    <button type="button" class="btn waves-effect waves-light btn-danger">변경</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</td>
	                    </tr>
	                	<tr>
	                		<td>
	                			<div class="form-group">
									<div class="row">
										<label class="col-lg-1 mt-2">이름</label>
										<div class="col-lg-11">
											<div class="row">
												<div class="col-md-3">
												    <input name="emplyName" th:value="${emply.emplyName}" type="text" class="form-control" placeholder="이름" disabled="disabled">
												</div>
											</div>
										</div>
									</div>
								</div>
							</td>
	                    </tr>
	                	<tr>
	                		<td>
	                			<div class="form-group">
									<div class="row">
										<label class="col-lg-1 mt-2">아이디</label>
										<div class="col-lg-11">
											<div class="row">
												<div class="col-md-3">
												    <input name="emplyId" th:value="${emply.emplyId}" type="text" class="form-control" placeholder="아이디" disabled="disabled">
												</div>
											</div>
										</div>
									</div>
								</div>
							</td>
	                    </tr>
	                	<tr>
	                		<td>
	                			<div class="form-group">
									<div class="row">
										<label class="col-lg-1 mt-2">비밀번호</label>
										<div class="col-lg-11">
											<div class="row">
												<div class="col-md-3">
												    <input name="emplyPw" th:value="${emply.emplyPw}" type="password" class="form-control" placeholder="비밀번호">
												</div>
											</div>
										</div>
									</div>
								</div>
							</td>
	                    </tr>
	                	<tr>
	                		<td>
	                			<div class="form-group">
									<div class="row">
										<label class="col-lg-1 mt-2">생년월일</label>
										<div class="col-lg-11">
											<div class="row">
												<div class="col-md-3">
												    <input name="emplyBirth" th:value="${emply.emplyBirth}" type="date" class="form-control">
												</div>
											</div>
										</div>
									</div>
								</div>
							</td>
	                    </tr>
	                    <tr>
	                        <td>
	                        	<div class="form-group">
	                                <div class="row">
	                                    <label class="col-lg-1 mt-2">핸드폰번호</label>
	                                    <div class="col-lg-11">
	                                        <div class="row">
	                                            <div class="col-md-3">
	                                                <input name="emplyNumber" th:value="${emply.emplyNumber}" type="text" class="form-control" placeholder="핸드폰번호">
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </td>
	                    </tr>
	                    <!-- 모바일버전 -->
	                    <!-- <tr>
	                        <td>
	                        	<div class="form-group">
	                                <div class="row">
	                                    <label class="col-lg-1 mt-2">우편번호</label>
	                                    <div class="col-lg-11">
	                                        <div class="row">
	                                            <div class="col-md-12" style="display: flex;flex-wrap: nowrap;">
	                                                <input id="addr1" name="emplyHomeAddressZip" value="54898" type="text" class="col-lg-6 col-sm-3 form-control" placeholder="우편번호" style="display: inline-grid;">
	                                                <button id="addrSearchBtn" type="button" class="col-lg-4 col-sm-2 btn waves-effect waves-light btn-primary" style="max-width: 95px;">주소검색</button>
	                                            </div>
	                                            <div class="col-md-2">
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </td>
	                    </tr> -->
	                    <!-- 모바일버전 -->
	                    <tr>
	                        <td>
	                        	<div class="form-group">
	                                <div class="row">
	                                    <label class="col-lg-1 mt-2">우편번호</label>
	                                    <div class="col-lg-11">
	                                        <div class="row">
	                                            <div class="col-md-2">
	                                                <input id="addr1" name="emplyHomeAddressZip" th:value="${emply.emplyHomeAddressZip}" type="text" class="form-control" placeholder="우편번호">
	                                            </div>
	                                            <div class="col-md-2">
	                                                <button id="addrSearchBtn" type="button" class="btn waves-effect waves-light btn-primary">주소검색</button>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </td>
	                    </tr>
	                    <tr>
	                        <td>
	                        	<div class="form-group">
	                                <div class="row">
	                                    <label class="col-lg-1 mt-2">집주소</label>
	                                    <div class="col-lg-11">
	                                        <div class="row">
	                                            <div class="col-md-5">
	                                                <input id="addr2" name="emplyHomeAddress" th:value="${emply.emplyHomeAddress}" type="text" class="form-control" placeholder="집주소">
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </td>
	                    </tr>
	                    <tr>
	                        <td>
	                        	<div class="form-group">
	                                <div class="row">
	                                    <label class="col-lg-1 mt-2">상세주소</label>
	                                    <div class="col-lg-11">
	                                        <div class="row">
	                                            <div class="col-md-3">
	                                                <input id="addr3" name="emplyHomeAddressDetail" th:value="${emply.emplyHomeAddressDetail}" type="text" class="form-control" placeholder="상세주소">
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </td>
	                    </tr>
	                    <tr>
	                        <td>
	                        	<div class="form-group">
	                                <div class="row">
	                                    <label class="col-lg-1 mt-2"></label>
	                                    <div class="col-lg-11">
	                                        <div class="row">
	                                            <div class="col-md-12" style="text-align: right;">
	                                                <button id="modifyBtn" type="button" class="btn waves-effect waves-light btn-success">수정</button>
	                                                <a id="modifyCancelBtn" class="btn waves-effect waves-light btn-light" th:href="@{/member/modifyCancel}">취소</a>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </td>
	                    </tr>
	                    <!-- 테이블 마지막 색만 넣은곳 -->
	                    <tr>
	                        <td class="bg-primary text-white">#</td>
	                    </tr>
	                    <!-- 테이블 마지막 색만 넣은곳 -->
	                </tbody>
	            </table>
	        </div>
	    </div>
		</form>
	    <!-- ============================================================== -->
	    <!-- Start Page Content -->
	    <!-- ============================================================== -->
	</th:block>
	<th:block layout:fragment="customScript">
	    <script th:src="@{/dist/js/emply_modify_my.js}"></script>
	    <script th:src="@{/assets/libs/popper.js/dist/umd/popper.min.js}"></script>
	    <script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.min.js}"></script>
	    <script th:src="@{/dist/js/app-style-switcher.js}"></script>
	    <script th:src="@{/dist/js/feather.min.js}"></script>
	    <script th:src="@{/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
	    <script th:src="@{/assets/extra-libs/sparkline/sparkline.js}"></script>
	    <script th:src="@{/dist/js/sidebarmenu.js}"></script>
	    <script th:src="@{/dist/js/custom.min.js}"></script>
	    
		<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	    <script>
	        $(function(){
	        	$(document).on('click', '#addrSearchBtn', function(){	
	        		console.log('눌렀다.');
			        new daum.Postcode({
			            oncomplete: function(data) {
			            	var addr = data.address // 최종 주소 변수
			            		,zoneCode = data.zonecode;
			                $('#addr1').val(zoneCode);
			                $('#addr2').val(addr);
			                $('#addr3').val('');
			                $('#addr3').focus();
			            }
			        }).open();
	        	});
	        });
	    </script>
	</th:block>
</html>