<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/favicon.png}">
    <title>Ensecretary Register</title>
    <!-- Custom CSS -->
    <link th:href="@{/dist/css/style.min.css}" rel="stylesheet">
</head>

<body>
	<!-- 제이쿼리 -->
	<!-- 아이디 중복체크 -->
	<script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
	<script>
		$(function(){
			/* 아이디 유효성 검사 */
			function validationCheckId(data){
				var 
				    number = data.search(/[0-9]/g)
				    ,english = data.search(/[a-z]/ig)
				    ,spece = data.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi)
					,reg = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$/;
				if(typeof data == 'undefined' || data == null || data == '' || data == '@ksmart.or.kr') {
					$('input[name="emplyId"]').attr('placeholder','공백 입력 불가');
					return true;
				}else if(/(\w)\1\1\1/.test(data)) {
					$('input[name="emplyId"]').val('');
					$('input[name="emplyId"]').attr('placeholder','같은 문자를 연속 4번 이상 사용 할 수 없습니다.');
					return true;
				}else if(number < 0 || english < 0) {
					$('input[name="emplyId"]').val('');
					$('input[name="emplyId"]').attr('placeholder','영문과 숫자를 조합해 주세요.');
					return true;
				}else if(data.search(/\s/) != -1) {
					$('input[name="emplyId"]').val('');
					$('input[name="emplyId"]').attr('placeholder','아이디에 공백을 추가 할 수 없습니다.');
					return true;
				}else if(data.length < 5 || data.length > 17){
					$('input[name="emplyId"]').val('');
					$('input[name="emplyId"]').attr('placeholder','아이디를 5자 이상 17자 이하로 입력하세요.');
					return true;
				}else if(spece != -1) {
					$('input[name="emplyId"]').val('');
					$('input[name="emplyId"]').attr('placeholder','아이디에 특수문자를 사용 할 수 없습니다.');
					return true;
				}
				return false;
			}
			/* 아이디 유효성 검사 끝 */
			$(document).on('blur', '#emplyId', function(){
				var 
					 addDomain = '@ksmart.or.kr'
					,emplyId = $('input[name="emplyId"]').val();
				if(validationCheckId(emplyId)) {
					$('input[name="emplyId"]').attr('class','form-control is-invalid');
					$('input[name="emplyId"]').focus();
					return false;
				}else{
					emplyId = $('input[name="emplyId"]').val()+addDomain;
					/* ajax 아이디 중복체크 */
					var request = $.ajax({
						url: "/member/emailCheck", 
						method: "POST", 
						data: { 'emplyId' : emplyId}, 
						dataType: "json" 
					});				 
					request.done(function( isEmailCheck ) {
						console.log(isEmailCheck);	
						/* 아이디 중복여부에 따른 input, select, button 활성화 여부 */
						/* 아이디 중복 시 alert "중복된 아이디입니다." */
						// true : 아이디 중복 x , false: 아이디 중복 o
						if(isEmailCheck){
							$('input[name="emplyId"]').attr('class','form-control is-valid');
						}else{
							$('input[name="emplyId"]').attr('class','form-control is-invalid');
							$('input[name="emplyId"]').attr('placeholder','이미 사용중인 아이디 입니다.');
							$('input[name="emplyId"]').focus();
							$('input[name="emplyId"]').val('');
						}
						
					});				 
					request.fail(function( jqXHR, textStatus ) {
						alert( "Request failed: " + textStatus );
					});	
				}							
			});
		});
	</script>
	<!-- 아이디 중복체크끝 -->
	<!-- 패스워드확인 -->
	<script>
		$(function(){
			/* 패스워드 유효성 검사 */
			function validationCheckPw(data){
				var 
				    number = data.search(/[0-9]/g)
				    ,english = data.search(/[a-z]/ig)
				    ,spece = data.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi)
					,reg = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$/;
				if(typeof data == 'undefined' || data == null || data == '' || data == '@ksmart.or.kr') {
					console.log('미입력');
					return true;
				}else if(/(\w)\1\1\1/.test(data)) {
					console.log('같은 문자를 연속으로 4번 이상 사용할수 없습니다.');
					return true;
				}else if(number < 0 || english < 0) {
					console.log('영문과 숫자를 조합해 입력해주세요.');
					return true;
				}else if(data.search(/\s/) != -1) {
					console.log('아이디에 공백을 추가할수 없습니다.');
					return true;
				}else if(data.length < 5 || data.length > 17){
					console.log('5자 이상 17자 이하로 입력하세요');
					return true;
				}else if(spece != -1) {
					console.log('특수문자불가');
					return true;
				}
				return false;
			}
			/* 패스워드 유효성 검사 끝 */
			/* 유효성검사 패스워드*/
			$(document).on('blur', 'input[name="emplyPw"]', function(){
				var 
					emplyPw = $('input[name="emplyPw"]').val()
				   ,emplyPwCheck = $('input[name="emplyPwCheck"]').val();
				console.log('떨어졌다.');
				if(validationCheckPw(emplyPw)) {
					$('input[name="emplyPw"]').attr('class','form-control is-invalid');
					$('input[name="emplyPw"]').attr('placeholder','비밀번호를 입력해 주세요.');
					$('input[name="emplyPw"]').focus();
					return false;
				}else{
					$('input[name="emplyPw"]').attr('class','form-control');
				}
			});
			/* 유효성검사 패스워드 */
			/* 유효성검사 패스워드확인 */
			$(document).on('blur', 'input[name="emplyPwCheck"]', function(){
				var 
					emplyPw = $('input[name="emplyPw"]').val()
				   ,emplyPwCheck = $('input[name="emplyPwCheck"]').val();
				if(emplyPw != emplyPwCheck) {
					$('#signUp').prop('disabled',true);
					$('input[name="emplyPwCheck"]').attr('class','form-control is-invalid');
				}else{
					$('#signUp').prop('disabled',false);
					$('input[name="emplyPwCheck"]').attr('class','form-control is-valid');
				}
			});
			/* 유효성검사 패스워드확인 */
		});
	</script>
	<!-- 패스워드확인끝 -->
	<!-- 부서 리스트 뿌리기 -->
	<script>
		/* 부 서 대 -> 중 리 스 트 가 져 오 기 */
		$(function(){
			$(document).on('change','#organiL', function(){
				var organiL = $('#organiL option:selected').val();
				console.log(organiL);
				/* 에이작스 */
				var request = $.ajax({
					url: "/member/organizationMName", 
					method: "GET", 
					data: { 'organiL' : organiL}, 
					dataType: "json"
				});				 
				request.done(function( organiMName ) {
					console.log(organiMName);
					var option2 = $("<option>"+'Choose...'+"</option>");
					$('#organiMSelect').css('display','block');
					$('#organiM').empty();
					$('#organiM').append(option2);
					for(var i = 0;i < organiMName.length;i++){
						console.log(organiMName[i].organizationNameM);
						var option = $("<option value="+organiMName[i].organizationNameM+">"+organiMName[i].organizationNameM+"</option>");
						$('#organiM').append(option);
					}
					if(organiMName == '' || organiMName == null || organiMName == 'undefined'){
						$('#organiMSelect').css('display','none');
						$('#organiSSelect').css('display','none');
					}
				});				 
				request.fail(function( jqXHR, textStatus ) {
					alert( "Request failed: " + textStatus );
				});
				/* 에이작스 */
			});
		});
		/* 부 서 대 -> 중 리 스 트 가 져 오 기 */
		
		/* 부 서 중 -> 소 리 스 트 가 져 오 기 */
		$(function(){
			$(document).on('change','#organiM', function(){
				var organiM = $('#organiM option:selected').val();
				console.log(organiL);
				/* 에이작스 */
				var request = $.ajax({
					url: "/member/organizationSName", 
					method: "GET", 
					data: { 'organiM' : organiM}, 
					dataType: "json"
				});				 
				request.done(function( organiSName ) {
					console.log(organiSName);
					var option2 = $("<option>"+'Choose...'+"</option>");
					$('#organiSSelect').css('display','block');
					$('#organiS').empty();
					$('#organiS').append(option2);
					for(var i = 0;i < organiSName.length;i++){
						console.log(organiSName[i].organizationNameS);
						var option = $("<option value="+organiSName[i].organizationNameS+">"+organiSName[i].organizationNameS+"</option>");
						$('#organiS').append(option);
					}
					if(organiSName == '' || organiSName == null || organiSName == 'undefined'){
						$('#organiSSelect').css('display','none');
					}
				});				 
				request.fail(function( jqXHR, textStatus ) {
					alert( "Request failed: " + textStatus );
				});
				/* 에이작스 */
			});
		});
		/* 부 서 중 -> 소 리 스 트 가 져 오 기 */
	</script>
	<!-- 부서 리스트 뿌리기끝-->
	<!-- 제이쿼리 -->


    <div class="main-wrapper">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative">
        <!-- style="background:url(/assets/images/big/auth-bg.jpg) no-repeat center center;" <-- 배경이 넣고싶을때 -->
            <div class="auth-box row text-center">
                <div class="col-lg-0 col-md-0 modal-bg-img">
                <!--  style="background-image: url(/assets/images/big/3.jpg);" 오른쪽 배경 넣고 싶을때 -->
                </div>
                <div class="col-lg-12 col-md-7 bg-white">
                    <div class="p-3">
                        <img th:src="@{/assets/images/logo-icon.png}" alt="wrapkit">
                        <h2 class="mt-3 text-center">회원가입</h2>
                        <form class="mt-4" th:action="@{/member/register}" method="post">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="emplyName" placeholder="이름">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input class="form-control" type="email" id="emplyId" name="emplyId" placeholder="이메일">
                                    </div>
                                </div>
                                <!-- 로그인 유효성 검사 성공 실패 -->
                               	<!-- <input type="email" class="form-control is-valid" id="inputHorizontalSuccess" placeholder="name@example.com">
                               	<input type="email" class="form-control is-invalid" id="inputHorizontalDnger" placeholder="name@example.com"> -->
                               	<!-- 로그인 유효성 검사 성공 실패  -->
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input class="form-control" type="password" id="emplyPw" name="emplyPw" placeholder="패스워드">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input class="form-control" type="password" id="emplyPwCheck" name="emplyPwCheck" placeholder="패스워드확인">
                                    </div>
                                    <div class="form-group">
                                    	<span id="passNotMatch" style="display:none;">비밀번호가 일치하지 않습니다.</span>
                                    </div>
                                </div>
                                
                                
                                
                                <!-- ///////////////////////////////// -->
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="emplyNmber" placeholder="사원번호">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <!-- <input class="form-control" type="text" name="emplyBirth" placeholder=""> -->
                                        <h6 class="card-title">생년월일</h6>
                                        <input type="date" name="emplyBirth" class="form-control"> <!-- 생년월일 -->
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="emplyAccount" placeholder="계좌번호">
                                    </div>
                                </div>
                                <!-- /////////////////조직도리스트//////////////// -->  
								<div class="card-body">
							        <!-- 조직도 대분류 -->
							        <div class="form-group mb-4">            
							            <label class="mr-sm-2" for="organiL">조직도대분류</label>
							            <select class="custom-select mr-sm-2" id="organiL" name="organiL">
							                <option>Choose...</option>
								            <th:block th:if="${not #lists.isEmpty(organiLList)}" th:each="l : ${organiLList}">
								                <option th:value="${l.organizationNameL}">[[${l.organizationNameL}]]</option>
								            </th:block>
								            <th:block th:unless="${not #lists.isEmpty(organiLList)}">
												<option value="">등록된 조직도가 없습니다.</option>
											</th:block>
							            </select>
							        </div>
							        <!-- 조직도 대분류 --> 
							        
							        <!-- 조직도 중분류 -->
							        <div class="form-group mb-4" id="organiMSelect" style="display:none;">            
							            <label class="mr-sm-2" for="organiM">조직도중분류</label>
							            <select class="custom-select mr-sm-2" id="organiM" name="organiM">
							            </select>
							        </div>
							        <!-- 조직도 중분류 --> 
							        
							        <!-- 조직도 소분류 -->
							        <div class="form-group mb-4" id="organiSSelect" style="display:none;">            
							            <label class="mr-sm-2" for="organiS">조직도소분류</label>
							            <select class="custom-select mr-sm-2" id="organiS" name="organiS">
							            </select>
							        </div>
							        <!-- 조직도 소분류 --> 
								</div>
                                <!-- /////////////////조직도리스트끝//////////////// -->
                                <div class="col-lg-12 text-center">
                                    <button id="signUp" type="submit" class="btn btn-block btn-dark" disabled="disabled">Sign Up</button>
                                </div>
                                <div class="col-lg-12 text-center mt-5">
                                이미 아이디가 있습니까?     <a th:href="@{/login/login}" class="text-danger">Login</a>
                                </div>
                                <div class="col-lg-12 text-center">
                         			<a th:href="@{/login/admin_login}" class="text-danger">관리자로그인</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script th:src="@{/assets/libs/popper.js/dist/umd/popper.min.js}"></script>
    <script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.min.js}"></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script>
        $(".preloader ").fadeOut();
    </script>
</body>

</html>