<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default.html}">
<th:block layout:fragment="customHeadScript">
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <!-- Tell the browser to be responsive to screen width -->
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <!-- Favicon icon -->
	    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/favicon.png}">
	    <title>결재관리</title>
	    <!-- This page plugin CSS -->
	    <link th:href="@{/assets/extra-libs/datatables.net-bs4/css/dataTables.bootstrap4.css}" rel="stylesheet">
	    <!-- Custom CSS -->
	    <link th:href="@{/dist/css/style.min.css}" rel="stylesheet">
	    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	        <![endif]-->
	</head>
</th:block>
	<!-- 사용자 정의 contents -->
	<th:block layout:fragment="customContents">
		<!-- ============================================================== -->
	    <!-- Start Page Content -->
	    <!-- ============================================================== -->
	    <!-- 결제요정페이지UI -->
	    <form id="paymentRequestForm" method="post" th:action="@{/payment/payment_request}">
		    <div class="card-body">
				<h4 class="card-title">결제요청페이지</h4>
				<button id="choiceApprover" type="button" class="btn btn-info" data-toggle="modal" data-target="#bs-example-modal-lg">결재선관리</button>
				<select class="custom-select col-md-3" id="inlineFormCustomSelect" name="">
				    <option selected="">결재문서종류</option>
				    <option th:if="${not #lists.isEmpty(documentCateSList)}" th:each="l : ${documentCateSList}" th:value="${l.documentCateSCode}">[[${l.cateNameS}]]</option>
				</select>
			    <div class="table-responsive">
			        <table class="table" id="requestTable">
			            <tbody>
			                <tr>
			                    <th class="col-md-2">
			                    	작성자ID
			                    	<br>
			                    	<br>작성자
			                    </th>
			                    <th>
			                    	<input id="writerEmail" name="" type="text" class="form-control col-md-6" readonly="" th:value="${session.SEMAIL}">
			                    	<input id="writerName" name="" type="text" class="form-control col-md-6" readonly="" th:value="${session.SNAME}">
			                    </th>
			                </tr>
			                <!-- 결재자 정보 들어가는 부분 -->
			                
			                <!-- 결재자 정보 들어가는 부분 -->
			                <tr>
			                    <th>첨부파일</th>
			                    <th><button id="addFileBtn" type="button" class="btn btn-primary">선택</button></th>
			                </tr>
			            </tbody>
			        </table>
			        <div class="card-body">
					    <h4 class="card-title">Comment</h4>
				        <div class="form-group">
				            <textarea class="form-control" rows="3" placeholder="Comment Here..."></textarea>
				        </div>
					</div>
			    </div>
			</div>
		</form>
		<div class="table-responsive">
	        <table class="table">
	        	<tr>
	        		<th><div class="text-center"><button id="addFileBtn" type="button" class="btn btn-primary">요청</button> <button id="addFileBtn" type="button" class="btn btn-dark">취소</button></div></th>
	        	</tr>
			</table>
		</div>
	    <!-- 결제요청페이지UI -->
	    
	    <!-- 요청 버튼 모달 시작 -->
        <div id="bs-example-modal-lg" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
	        <div class="modal-dialog modal-lg modal-dialog-scrollable">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <h4 class="modal-title" id="myLargeModalLabel">결재 요청</h4>
	                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	                </div>
	                <div class="modal-body">
						<input name="emplyId" type="text" class="form-control" id="requestEmplyId" placeholder="요청자 이름" readonly="" th:value="${session.SEMAIL}">
						<input type="text" class="form-control inputApproverBar" id="inputApproverName" placeholder="결재자" readonly="">
						<!-- 결재자 선택 버튼 -->					
					    <button id="selectApproverBtn" type="button" class="btn btn-primary selectApprover" data-toggle="modal" data-target="#myModal">결재자 선택</button>
					    <button id="addApproverBtn" type="button" class="btn btn-primary">결재자 추가</button>
	                	<div class="col-sm-12 col-md-6 col-lg-4">

	                </div>
	                </div>
	                <div class="modal-footer">
	                    <button type="button" class="btn btn-light" data-dismiss="modal">취소</button>
	                    <button id="requestBtn" type="button" class="btn btn-primary">요청</button>
	                </div>
	            </div><!-- /.modal-content -->
	        </div><!-- /.modal-dialog -->
	    </div>  
	    <!-- 요청 버튼 모달 끝 -->
	    <!-- 결재자 선택 모달창 시작 -->
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
	        <div class="modal-dialog modal-dialog-scrollable">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <h4 class="modal-title" id="myModalLabel">결재자 선택</h4>
	                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	                </div>
	                <div class="modal-body">
	                    
	                    <!-- 결재 사원 리스트 -->
	                    <div class="col-sm-12 col-md-12">
						    <div class="card">
						        <div class="card-body" id="approverDiv">
						            
						        </div>
						    </div>
						</div>             
	                    <!-- 결재 사원 리스트 -->
	       
	                </div>
	                <div class="modal-footer">
	                    <button type="button" class="btn btn-light" data-dismiss="modal">취소</button>
	                    <button id="saveApproverBtn" type="button" class="btn btn-primary" data-dismiss="modal">저장</button>
	                </div>
	            </div><!-- /.modal-content -->
	        </div><!-- /.modal-dialog -->
	    </div>
	    <!-- 결재자 선택 모달창 끝 -->
	    <!-- 모달 통합 경고 창 -->
	    <div id="checkWarningModal" class="modal fade" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body p-4">
                        <div id="errorMsgModal" class="text-center">
                            <i class="dripicons-warning h1 text-warning"></i>
                            <h4 class="mt-2">오류</h4>
                            <p class="mt-3"></p>
                            <button id="checkWarningModalBtn" type="button" class="btn btn-warning my-2" data-dismiss="modal">확인</button>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
	    <!-- 모달 통합 경고 창 -->
	    <!-- ============================================================== -->
	    <!-- Start Page Content -->
	    <!-- ============================================================== -->
	</th:block>
	<th:block layout:fragment="customScript">
		<!-- ============================================================== -->
	    <!-- All Jquery -->
	    <!-- ============================================================== -->
	    <script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
	    <!-- ============================================================== -->
	    <!-- Bootstrap tether Core JavaScript -->
	    <!-- ============================================================== -->
	    <script th:src="@{/assets/libs/popper.js/dist/umd/popper.min.js}"></script>
	    <script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.min.js}"></script>
	    <!-- ============================================================== -->
	    <!-- apps -->
	    <!-- ============================================================== -->
	    <script th:src="@{/dist/js/app-style-switcher.js}"></script>
	    <script th:src="@{/dist/js/feather.min.js}"></script>
	    <!-- ============================================================== -->
	    <!-- slimscrollbar scrollbar JavaScript -->
	    <!-- ============================================================== -->
	    <script th:src="@{/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
	    <script th:src="@{/assets/extra-libs/sparkline/sparkline.js}"></script>
	    <!--Wave Effects -->
	    <!-- themejs -->
	    <!--Menu sidebar -->
	    <script th:src="@{/dist/js/sidebarmenu.js}"></script>
	    <!-- ============================================================== -->
	    <!--Custom JavaScript -->
	    <!-- ============================================================== -->
	    <script th:src="@{/dist/js/custom.min.js}"></script>
	    <!-- ============================================================== -->
	    <!--This page plugins -->
	    <!-- ============================================================== -->
	    <script th:src="@{/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js}"></script>
	    <script th:src="@{/dist/js/pages/datatable/datatable-basic.init.js}"></script>
		<script>
			$(function(){
				var approverInputLength = $('.inputApproverBar').length;
				var thisInput;
				/* 결재자 추가 선택 관련 유효성 검사 */
				var errorWindow = function( data ) {
					var errorMsgModal = $('#errorMsgModal p');
					if(data == 1) {
						errorMsgModal.text('결재자 선택은 1명을 초과할 수 없습니다.');
					}else if(data == 2){
						errorMsgModal.text('이미 선택한 결재자가 있습니다.');
					}else if(data == 3){
						errorMsgModal.text('결재자 추가는 '+approverInputLength+'명을 초과할 수 없습니다.');
					}else if(data == 4){
						errorMsgModal.text('결재자를 선택하지 않았습니다.');
					}else if(data == 5){
						errorMsgModal.text('작성자와 결재자가 같습니다.');
					}
					$('#checkWarningModal').attr('class', 'modal fade show');
					$('#checkWarningModal').css('display', 'block');
					
					$(document).on('click', '#checkWarningModalBtn', function(){
						console.log('checkWarningModalBtn 클릭');
						$('#checkWarningModal').attr('class', 'modal fade');
						$('#checkWarningModal').css('display', 'none');
					});
				}
				/* 결재자 추가 선택 관련 유효성 검사 */
				/* 결재자 팀 계급정보 불러오는 에이작스 */
				$(document).on('click','.selectApprover',function(){
					thisInput = $(this).prev();
					console.log('selectApproverBtn 눌렀다');
					var emplyId = $('#selectApproverBtn').val();
					console.log('emplyId 값 : ', emplyId);
					var request = $.ajax({
						url: "/payment/payment_approver_list", 
						method: "POST", 
						data: { 'emplyId' : emplyId}, 
						dataType: "json" 
					});				 
					request.done(function( emplyInfoList ) {
						console.log(emplyInfoList);
						$('#approverDiv').empty();
						for(var i = 0;i<emplyInfoList.length;i++) {
							var approverName = emplyInfoList[i].emplyName;
							var approverRankName = emplyInfoList[i].rankLevelList.rankName;
							var approverOrganiCode = emplyInfoList[i].organizationCodeS;
							var organiName = $("<h4 class=\"card-title organiTitle\">"+emplyInfoList[i].organizationSList.organizationNameS+"</h4>");
							$('#approverDiv').append(organiName);

							for(var j = 0 ; j<emplyInfoList.length;j++){
								var approverCheckBox = $("<div class=\"custom-control custom-checkbox\"><input type=\"checkbox\" class=\"custom-control-input\" name=\"approverName\" value="+emplyInfoList[j].emplyName+" id="+emplyInfoList[j].emplyName+"><label class=\"custom-control-label\" for="+emplyInfoList[j].emplyName+">"+emplyInfoList[j].emplyName+emplyInfoList[j].rankLevelList.rankName+"</label></div>");
								if(emplyInfoList[i].organizationSList.organizationNameS == emplyInfoList[j].organizationSList.organizationNameS){										
									$('#approverDiv').append(approverCheckBox);
								}
							}
						}
						console.log('organiTitle : ',$('.organiTitle'));
						for(var i = 0 ; i<$('.organiTitle').length;i++){
							var count = 0;
							console.log('organiTitle.length : ',$('.organiTitle').length);
							for(var j = 0 ; j<$('.organiTitle').length;j++){
								var count2 = 0;
								var organiTitle = $('.organiTitle')[j];
								if($('.organiTitle')[i].innerText == $('.organiTitle')[j].innerText){
									count++;
									if(count > 1){
										console.log('중복으로 삭제되는 대상 : ', organiTitle.innerText);
										console.log('organiTitle[j] 의 값 : ',$('.organiTitle')[j]);
										$('.organiTitle')[j].remove();
									}
								}
							}
						}
					});				 
					request.fail(function( jqXHR, textStatus ) {
						alert( "Request failed: " + textStatus );
					});	
				});
				/* 결재자 팀 계급정보 불러오는 에이작스 */
				/* 선택한 결재자 값 입력 */
				$(document).on('click','#saveApproverBtn',function(){
					var checkApproverName = $('input:checkbox[name="approverName"]:checked').val();
					console.log('saveApproverBtn를 눌렀다.');
					console.log('선택한 결재자 명 : ', thisInput.val());
					console.log('checkApproverName', checkApproverName);
					if(checkApproverName != '' && checkApproverName != 'undefined' && checkApproverName != null){					
						$('#requestBtn').attr('data-dismiss','modal');					
						thisInput.val(checkApproverName);
					}else{
						console.log('else를 탔다.');
						$('#requestBtn').removeAttr('data-dismiss');
						thisInput.val(checkApproverName);
					}
				});	
				/* 선택한 결재자 값 입력 */
				/* 1개 이상 체크 금지 */ 
				$(document).on('click', 'input:checkbox[name="approverName"]', function(){
					var checkLength = $('input:checkbox[name="approverName"]:checked').length;
					var test = $('.inputApproverBar');
					console.log('체크했다.');
					for(var i = 0 ; i < approverInputLength; i++) {
						console.log(test[i].value);
						if(test[i].value == $('input:checkbox[name="approverName"]:checked').val()) {
							$(this).prop('checked', false);
							/* 이미 선택된 결재자가 있을 경우 경고창 */
							errorWindow(2);
						}else if($('#writerName').val() == $('input:checkbox[name="approverName"]:checked').val()) {
							$(this).prop('checked', false);
							/* 작성자와 결재자가 같은 경우 경고창 */
							errorWindow(5);
							return;
						}
					}
					if(checkLength > 1) {
						console.log('체크 개수 1개 보다 많음');
						console.log('this의 값', $(this).val());
						$(this).prop('checked', false);
						/* 1개 이상 체크시 경고창 */
						errorWindow(1);
					}	
				});
				/* 1개 이상 체크 금지 */
				/* 결재자 추가 */
				$(document).on('click', '#addApproverBtn', function(){
					console.log('addApproverBtn 눌렀다');
					var addApproverInput = $("<input type=\"text\" class=\"form-control inputApproverBar\" id=\"inputApproverName\" placeholder=\"결재자\" readonly=\"\">");
					var approverAddBtn = $("<button id=\"selectApproverBtn\" type=\"button\" class=\"btn btn-primary selectApprover\" data-toggle=\"modal\" data-target=\"#myModal\">결재자 선택</button>");
					var approverDelBtn = $("<button id=\"approverInputDelBtn\" type=\"button\" class=\"btn waves-effect waves-light btn-danger approverDelBtn\">결재자 삭제</button>");
					var addLocation = $('#inputApproverName').parent();
					console.log('approverInputLength의 개수',approverInputLength);
					if(approverInputLength < 4) {
						console.log('addLocation의 위치',addLocation);
						addLocation.append(addApproverInput);
						addLocation.append(approverAddBtn);
						addLocation.append(' ', approverDelBtn);
						approverInputLength = $('.inputApproverBar').length;
						console.log('addApproverInput의 개수', approverInputLength);						
					}else{
						/* 결재가 추가 최대 개수 초과시 경고창 */
						errorWindow(3);				
					}
				});
				/* 결재자 추가 */
				/* 결재자 삭제 */
				$(document).on('click', '.approverDelBtn', function(){
					console.log($(this).prev().prev());
					$(this).prev().prev().remove();
					$(this).prev().remove();
					$(this).remove();
					approverInputLength = $('.inputApproverBar').length;
				});
				/* 결재자 삭제 */
				/* 결재자 추가 인테이블 */
				$(document).on('click','#requestBtn', function(){
					var inputApproverBar = $('.inputApproverBar');
					var requestTable = $('#requestTable').children().children()[1];
					var insertApproverName;
					console.log('approverInputLength',approverInputLength);
					console.log('requestBtn을 눌렀다.');
					console.log('requestTable',requestTable);
					for(var i = 0;i<approverInputLength;i++) {
						console.log('inputApproverBar[i].val() : ',inputApproverBar[i].value);
						if(inputApproverBar[i].value == '' || inputApproverBar[i].value == 'undefined' || inputApproverBar[i].value == null) {
							/* 결재자를 선택하지 않았을때 오류 메세지 */
							errorWindow(4);
							return;
						}else{
							$('#requestBtn').attr('data-dismiss','modal');
							insertApproverName = $("<tr class=\"test111\"><th>결재자"+(i+1)+"</th><th><input name=\"\" type=\"text\" class=\"form-control col-md-3\" value="+inputApproverBar[i].value+" readonly=\"\"></th></tr>");
							$(requestTable).before(insertApproverName);
						}
					}
					$('#bs-example-modal-lg').css('display', 'none');
					$('#bs-example-modal-lg').attr('class', 'modal fade');
				});
				/* 결재자 추가 인테이블 */
				/* 결재선관리 선택시 결재자 초기화 */
				$(document).on('click', '#choiceApprover', function(){
					console.log('choiceApprover 버튼을 눌렀다.');
					$('.test111').remove();	
				});
				/* 결재선관리 선택시 결재자 초기화 */
			});
		</script>
	</th:block>
</html>