<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout/default}">
	<head th:fragment="headFragment">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- Tell the browser to be responsive to screen width -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>ksmart43</title>
		<!-- thymeleaf 링크 표현 구문 @{} -->
		<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"> -->
		
		
		
		
		
		<!-- Favicon icon -->
		<link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/favicon.png}">
		<title>Ensecretary</title>
		<!-- Custom CSS -->
		<link th:href="@{/assets/extra-libs/c3/c3.min.css}" rel="stylesheet">
		<link th:href="@{/assets/libs/chartist/dist/chartist.min.css}" rel="stylesheet">
		<link th:href="@{/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.css}" rel="stylesheet" />
		<!-- Custom CSS -->
		<link th:href="@{/dist/css/style.min.css}" rel="stylesheet">
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
		
		
		
		
		
		
		
		<!-- 사용자 정의 css 선언 -->
		<th:block layout:fragment="customCss"></th:block>
		<!-- 사용자 정의 js 선언 -->
		<th:block layout:fragment="customJs"></th:block>
	</head>

	<head th:fragment="headFragment2">
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <!-- Tell the browser to be responsive to screen width -->
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <!-- Favicon icon -->
	    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/favicon.png}">
	    <title>Adminmart Template - The Ultimate Multipurpose admin template</title>
	    <!-- Custom CSS -->
	    <link th:href="@{/assets/libs/fullcalendar/dist/fullcalendar.min.css}" rel="stylesheet" />
	    <!-- Custom CSS -->
	    <link th:href="@{/dist/css/style.min.css}" rel="stylesheet">
	    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	</head>
	
	<head th:fragment="headFragment3">
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <!-- Tell the browser to be responsive to screen width -->
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <!-- Favicon icon -->
	    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/favicon.png}">
	    <title>Adminmart Template - The Ultimate Multipurpose admin template</title>
	    <!-- This page css -->
	    <!-- Custom CSS -->
	    <link th:href="@{/dist/css/style.min.css}" rel="stylesheet">
	    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	        <![endif]-->
	</head>
	
</html>