<!DOCTYPE html><!-- 출퇴근관리정리 -->
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default.html}">
<!-- th:replace="경로 :: 조각이름" -->

<!-- 사용자 정의 contents -->
<th:block layout:fragment="customContents">
	<div class="card">
       <div class="card-body">
       </div>
    </div>
</th:block>

<th:block layout:fragment="customScript">
	<!-- ============================================================== -->
	<!-- All Jquery -->
	<!-- ============================================================== -->
	<script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
	<script th:src="@{/assets/extra-libs/taskboard/js/jquery.ui.touch-punch-improved.js}"></script>
	<script th:src="@{/assets/extra-libs/taskboard/js/jquery-ui.min.js}"></script>
	<script th:src="@{/assets/libs/popper.js/dist/umd/popper.min.js}"></script>
	<script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.min.js}"></script>
	<!-- ============================================================== -->
	<!-- apps -->
	<!-- ============================================================== -->
	<script th:src="@{/dist/js/app-style-switcher.js}"></script>
	<script th:src="@{/dist/js/feather.min.js}"></script>
	<script th:src="@{/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
	<script th:src="@{/dist/js/sidebarmenu.js}"></script>
	<!-- ============================================================== -->
	<!--Custom JavaScript -->
	<!-- ============================================================== -->
	<script th:src="@{/dist/js/custom.min.js}"></script>
	<!-- ============================================================== -->
	<!--This page JavaScript -->
	<!-- ============================================================== -->
	<script th:src="@{/assets/libs/moment/min/moment.min.js}"></script>
	<script th:src="@{/assets/libs/fullcalendar/dist/fullcalendar.min.js}"></script>
	<script th:src="@{/dist/js/pages/calendar/cal-init.js}"></script>
    <!-- 확인 -->
    <!-- Bootstrap tether Core JavaScript -->
    
    <script th:src="@{/assets/extra-libs/sparkline/sparkline.js}"></script>
    
    <!--This page plugins -->
    <script th:src="@{/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/dist/js/pages/datatable/datatable-basic.init.js}"></script>
</th:block>