<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default.html}">
	  
	<!-- 사용자 정의 contents -->
	<th:block layout:fragment="customContents">
		<div th:include="search/emplySearch :: emplySearchFragment"></div>
		<div class="card">
			<div class="card-body">
				<table class="table table-bordered">
						<thead class="bg-primary text-white">
							<tr>
								<th>사원아이디</th>
								<th>사원비밀번호</th>
								<th>사원번호</th>
								<th>부서</th>
								<th>직급</th>
								<th>사원명</th>
								<th>사원생년월일</th>
								<th>계약연봉</th>
								<th>사원계좌번호</th>
								<th>사원집주소</th>
								<th>입사일</th>
								<th>고용형태</th>
								<th>퇴직유무</th>
							</tr>	
						</thead>
						<tbody>
							
							<tr th:if="${not #lists.isEmpty(emplyList)}" th:each="l : ${emplyList}">
								<td th:text="${l.emplyId}"></td>
								<td th:text="${l.emplyPw}"></td>
								<td th:text="${l.emplyNumber}"></td>
								<td th:text="${l.emplyOrganization}"></td>
								<td th:text="${l.emplyRank}"></td>
								<td th:text="${l.emplyName}"></td>
								<td th:text="${l.emplyBirth}"></td>
								<td th:text="${l.salary}"></td>
								<td th:text="${l.emplyAccount}"></td>
								<td th:text="${l.emplyAddr}"></td>
								<td th:text="${l.emplymentDate}"></td>
								<td th:text="${l.emplymentType}"></td>
								<td th:text="${l.retireStatus}"></td>
							</tr>
							<tr th:unless="${not #lists.isEmpty(emplyList)}">
								<td colspan="9">조회된 내용이 없습니다.</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		
		</th:block>
		
</html>