<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default.html}">
	  
	<!-- 사용자 정의 contents -->
	<th:block layout:fragment="customContents">
		<form id="paySetForm" th:action="@{/pay/addPaySet}" method="post">
			<div class="card">
				<div class="card-body">
				<table class="table table-bordered" id="payTimeSetTable">
					<tr>
						<td colspan="2" class="bg-primary text-white">시간세팅</td>
					</tr>
					<tr>
						<th class="col-md-4" style="text-align: center;">월급 지급일</th>
						<th>
							<select class="form-control" id="paySetDate" name="paySetDate">
	                              	<option value="" selected>날짜를 선택하세요</option>
	                              	<option value="1 일">1 일</option>
	                              	<option value="2 일">2 일</option>
	                              	<option value="3 일">3 일</option>
	                              	<option value="4 일">4 일</option>
	                              	<option value="5 일">5 일</option>
	                              	<option value="6 일">6 일</option>
	                              	<option value="7 일">7 일</option>
	                              	<option value="8 일">8 일</option>
	                              	<option value="9 일">9 일</option>
	                              	<option value="10 일">10 일</option>
	                              	<option value="11 일">11 일</option>
	                              	<option value="12 일">12 일</option>
	                              	<option value="13 일">13 일</option>
	                              	<option value="14 일">14 일</option>
	                              	<option value="15 일">15 일</option>
	                              	<option value="16 일">16 일</option>
	                              	<option value="17 일">17 일</option>
	                              	<option value="18 일">18 일</option>
	                              	<option value="19 일">19 일</option>
	                              	<option value="20 일">20 일</option>
	                              	<option value="21 일">21 일</option>
	                              	<option value="22 일">22 일</option>
	                              	<option value="23 일">23 일</option>
	                              	<option value="24 일">24 일</option>
	                              	<option value="25 일">25 일</option>
	                              	<option value="26 일">26 일</option>
	                              	<option value="27 일">27 일</option>
	                              	<option value="28 일">28 일</option>
	                              	<option value="29 일">29 일</option>
	                              	<option value="30 일">30 일</option>
	                              	<option value="31 일">31 일</option>
							</select>
						</th>
					</tr>
					<tr>
						<th class="col-md-4" style="text-align: center;">자동이체 시간</th>
						<th><input  class="col-md-12" type="time" id="paySetTime" name="paySetTime"></th>
					</tr>
				</table>
				</div>
			</div>
			<!-- 추가버튼 클릭시 모달실행하여 db상에있는 기준테이블 선택하여 추가할수 있게하기 -->
			<!-- 기본테이블은 식대만 존재, 추가시 열 추가되게끔 -->
			<!-- 추가부분은 모달 > 리스트불러와서 선택 -->
			<button type="button" id="fixedModify" class="btn btn-outline-primary" data-toggle="modal" data-target="#fixedMyModal" style="float: right; margin-bottom: 10px;">항목 수정</button>
			<br><br>
			<div class="card">
				<div class="card-body">
					<table id="fixedPayList" class="table table-bordered">
						<tr>
							<td class="bg-primary text-white col-md-8">고정지급급여 항목</td>
							<td class="bg-primary text-white">금액(원)</td>
						</tr>
						<tr>
							<td class="settingTableVal">선택된 항목이 없습니다.</td>
						</tr>
					</table>
					
				</div>
			</div>
			
			<!-- 추가버튼 클릭시 모달실행하여 db상에있는 기준테이블 선택하여 추가할수 있게하기 -->
			<!-- 기본테이블은 소득세만 존재, 추가시 열 추가되게끔 -->
			<button type="button" id="deductionModify" class="btn btn-outline-primary" data-toggle="modal" data-target="#deduceMyModal" style="float: right; margin-bottom: 10px;">항목 수정</button>
			<br><br>
			<div class="card">
				<div class="card-body">
					<table id="deductionPayList" class="table table-bordered">
						<tr>
							<td class="bg-primary text-white col-md-8">공제액 항목</td>
							<td class="bg-primary text-white">금액(원)</td>
						</tr>
						<tr>
							<td class="settingTableVal">선택된 항목이 없습니다.</td>
						</tr>
					</table>
				</div>
			</div>
			
			<div class="col-12" style="display: flex; justify-content: space-around;">
				<button type="button" id="saveModifyBtn" class="btn btn-primary" style="text-align=center;">저장하기</button>
			</div>
		</form>
		
		<!-- 고정지급금 모달 Start -->
		<div id="fixedMyModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="fixedMyModalLabel" style="display: none;" aria-hidden="true">
			<div class="modal-dialog">
					<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="fixedMyModalLabel">고정지급 급여 항목 수정</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					</div>
					<div class="modal-body">
						<span>현재 선택된 항목</span>
						<table class="table table-bordered" id="selectedFixedList">
							<tr>
								<td class="bg-primary text-white col-md-2">항목명</td>
								<td class="bg-primary text-white col-md-2">금액</td>
							</tr>
							<tr>
								
							</tr>
						</table>
						<select id="setFixedList" class="form-control">
							<option value="" selected>추가항목을 선택하세요</option>
						</select>
					</div>
						<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="closeFixedModal">확인</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div>
		<!-- 고정지급금 모달 End -->
		
		<!-- 공제액 모달 Start -->
		<div id="deduceMyModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deduceMyModalLabel" style="display: none;" aria-hidden="true">
			<div class="modal-dialog">
					<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="deduceMyModalLabel">공제액 항목 수정</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					</div>
					<div class="modal-body">
						<span>현재 선택된 항목</span>
						<table class="table table-bordered" id="selectedDeduceList">
							<tr>
								<td class="bg-primary text-white col-md-2">항목명</td>
								<td class="bg-primary text-white col-md-2">금액</td>
							</tr>
							<tr>
								
							</tr>
						</table>
						<select id="setDeduceList" class="form-control">
                             	<option value="" selected>추가항목을 선택하세요</option>
						</select>
					</div>
						<div class="modal-footer">
						<button type="button"  class="btn btn-primary" id="closeDeduceModal">확인</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div>
		<!-- 공제액 모달 End -->
	</th:block>
	
	<th:block layout:fragment="customScript">
		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
		<script th:src="@{/dist/js/addPaySet.js}"></script>
		<script th:src="@{/assets/extra-libs/taskboard/js/jquery.ui.touch-punch-improved.js}"></script>
		<script th:src="@{/assets/extra-libs/taskboard/js/jquery-ui.min.js}"></script>
		<script th:src="@{/assets/libs/popper.js/dist/umd/popper.min.js}"></script>
		<script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.min.js}"></script>
		<!-- ============================================================== -->
		<!-- apps -->
		<!-- ============================================================== -->
		<script th:src="@{/dist/js/app-style-switcher.js}"></script>
		<script th:src="@{/dist/js/feather.min.js}"></script>
		<script th:src="@{/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
		<script th:src="@{/dist/js/sidebarmenu.js}"></script>
		<!-- ============================================================== -->
		<!--Custom JavaScript -->
		<!-- ============================================================== -->
		<script th:src="@{/dist/js/custom.min.js}"></script>
		<!-- ============================================================== -->
		<!--This page JavaScript -->
		<!-- ============================================================== -->
		<script th:src="@{/assets/libs/moment/min/moment.min.js}"></script>
		<script th:src="@{/assets/libs/fullcalendar/dist/fullcalendar.min.js}"></script>
		<script th:src="@{/dist/js/pages/calendar/cal-init.js}"></script>
	    <!-- 확인 -->
	    <!-- Bootstrap tether Core JavaScript -->
	    
	    <script th:src="@{/assets/extra-libs/sparkline/sparkline.js}"></script>
	    
	    <!--This page plugins -->
	    <script th:src="@{/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js}"></script>
	    <script th:src="@{/dist/js/pages/datatable/datatable-basic.init.js}"></script>
	</th:block>

</html>