<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default.html}">

	<!-- 사용자 정의 contents -->
	<th:block layout:fragment="customContents">
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="float: right; margin-bottom: 10px;">등록하기</button>
		<br><br>
		<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
			<div class="modal-dialog">
 				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel">급여등록</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					</div>
					<div class="modal-body">
						<form id="searchForm">
							<select name="searchKey">
							    <option value="emplyId">사원아이디</option>
							    <option value="emplyName">사원명</option>
							    <option value="emplyNumber">사원번호</option>
							    <option value="emplyOrganization">부서</option>
							    <option value="emplyRank">직급</option>
							</select>
							<input type="text" name="searchValue"/>
							<input type="button" value="검색" id="searchBtn"/>
						</form>
						<table class="table table-bordered">
							<thead class="bg-primary text-white">
								<tr>
									<th>사원아이디</th>
									<th>사원명</th>
									<th>사원번호</th>
									<th>부서</th>
									<th>직급</th>
								</tr>	
							</thead>
							<tbody id="modalBody">
								<tr th:unless="${not #lists.isEmpty(emplyList)}">
									<td colspan="9">조회된 내용이 없습니다.</td>
								</tr>
							</tbody>
						</table>
					</div>
 					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="closeModal">확인</button>
					</div>
				</div>/.modal-content
			</div>/.modal-dialog
		</div>
		<div class="card">
			<div class="card-body">
				<table class="table table-bordered">
					<thead class="bg-primary text-white">
						<tr>
							<th>사원아이디</th>
							<th>사원비밀번호</th>
							<th>사원번호</th>
							<th>부서</th>
							<th>직급</th>
							<th>사원명</th>
							<th>사원생년월일</th>
							<th>계약연봉</th>
							<th>사원계좌번호</th>
							<th>사원집주소</th>
							<th>입사일</th>
							<th>고용형태</th>
							<th>퇴직유무</th>
						</tr>	
					</thead>
					<tbody>
						<tr th:if="${not #lists.isEmpty(emplyList)}" th:each="l : ${emplyList}">
							<td th:text="${l.emplyId}"></td>
							<td th:text="${l.emplyPw}"></td>
							<td th:text="${l.emplyNumber}"></td>
							<td th:text="${l.emplyOrganization}"></td>
							<td th:text="${l.emplyRank}"></td>
							<td th:text="${l.emplyName}"></td>
							<td th:text="${l.emplyBirth}"></td>
							<td th:text="${l.salary}"></td>
							<td th:text="${l.emplyAccount}"></td>
							<td th:text="${l.emplyAddr}"></td>
							<td th:text="${l.emplymentDate}"></td>
							<td th:text="${l.emplymentType}"></td>
							<td th:text="${l.retireStatus}"></td>
						</tr>
						<tr th:unless="${not #lists.isEmpty(emplyList)}">
							<td colspan="9">조회된 내용이 없습니다.</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	
	</th:block>
	
	<th:block layout:fragment="customJs">
		<script type="text/javascript" th:src="@{/dist/js/jquery-3.6.0.min.js}"></script>
		<script type="text/javascript">
			$(function(){
				$('#searchBtn').click(function(){
					$('#modalBody').empty();
					var html = '';
					html += '<tr th:if="${not #lists.isEmpty(emplyList)}" th:each="l : ${emplyList}">';
					html += '	<td th:text="${l.emplyId}"></td>';
					html += '	<td th:text="${l.emplyName}"></td>';
					html += '	<td th:text="${l.emplyNumber}"></td>';
					html += '	<td th:text="${l.emplyOrganization}"></td>';
					html += '	<td th:text="${l.emplyRank}"></td>';
					html += '</tr>';
					$('#modalBody').append(html);
				
					/* var request = $.ajax({
						url: "emplyList.html", //요청주소
						method: "POST", //요청방식
						data: { emplyId, emplyName, emplyNumber, emplyOrganization, emplyRank }, //요청하는 페이지에 전달할 데이터
						dataType: "json" //응답방식(html, xml, json, text, function)
					});
					 
					request.done(function( data ) { //응답 정상 완료시 실행되는 메서드
						//응답 완료시 등답페이지의 텍스트를 읽어 콜백데이터로 전달
						//응답방식에 맞춰서 파싱하여 전달
						console.log(data);
					});
					 
					request.fail(function( jqXHR, textStatus ) { //응답 실패시 실행
						//파싱에러 -> 포멧방식이 잘못 전달
						//에러 -> 서버에서 대부분 에러
						alert( "Request failed: " + textStatus );
					}); */
				})
			})
		</script>

</html>