<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default.html}">

	<!-- 사용자 정의 contents -->
	<th:block layout:fragment="customContents">
		<span>현재 세팅값</span>
		<button type="button" class="btn btn-primary" style="float: right; margin-bottom: 10px;">수정하기</button>
		<table class="table table-bordered">
				<tr>
					<th>월급 지급일</th>
					<th>매월 15일</th>
				</tr>
				<tr>
					<th>자동이체 시간</th>
					<th>16:00</th>
				</tr>
		</table>
		<!-- 추가버튼 클릭시 모달실행하여 db상에있는 기준테이블 선택하여 추가할수 있게하기 -->
		<!-- 기본테이블은 식대만 존재, 추가시 열 추가되게끔 -->
		<span>고정지급 급여</span>
		<button type="button" class="btn btn-primary" style="float: right; margin-bottom: 10px;">삭제</button>
		<button type="button" class="btn btn-primary" style="float: right; margin-right: 10px;">추가</button>
		<table class="table table-bordered">
				<tr>
					<th>식대</th>
				</tr>
				<tr>
					<th>차량유지비</th>
				</tr>
				<tr>
					<th>육아보육수당</th>
				</tr>
		</table>
		<!-- 추가버튼 클릭시 모달실행하여 db상에있는 기준테이블 선택하여 추가할수 있게하기 -->
		<!-- 기본테이블은 소득세만 존재, 추가시 열 추가되게끔 -->
		<span>공제액</span>
		<button type="button" class="btn btn-primary" style="float: right; margin-bottom: 10px;">삭제</button>
		<button type="button" class="btn btn-primary" style="float: right; margin-right: 10px;">추가</button>
		<table class="table table-bordered">
				<tr>
					<th>소득세</th>
				</tr>
				<tr>
					<th>국민연금</th>
				</tr>
				<tr>
					<th>고용보험</th>
				</tr>
				<tr>
					<th>건강보험</th>
				</tr>
		</table>
		
		
	
	</th:block>

</html>