<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default.html}">
	  
	<!-- 사용자 정의 contents -->
	<th:block layout:fragment="customContents">
		<div>
			<span>현재 세팅값</span>
	        <button onClick="location.href='addPaySet'" class="btn btn-primary" style="float: right; margin-bottom: 10px;" id="modifyPaySetting">수정하기</button>
		</div><br>
		<form id="paySetForm">
			<div class="card">
				<div class="card-body">
				<table class="table table-bordered" id="payTimeSetTable">
					<tr>
						<th class="col-md-4" style="text-align: center;">월급 지급일</th>
						<th id="paySetDate"></th>
					</tr>
					<tr>
						<th class="col-md-4" style="text-align: center;">자동이체 시간</th>
						<th id="paySetTime"></th>
					</tr>
				</table>
				</div>
			</div>
			<!-- 추가버튼 클릭시 모달실행하여 db상에있는 기준테이블 선택하여 추가할수 있게하기 -->
			<!-- 기본테이블은 식대만 존재, 추가시 열 추가되게끔 -->
			<div>
				<span>고정지급 급여</span>
			</div><br>
			<div class="card">
				<div class="card-body">
					<table class="table table-bordered" id="fixedPayList">
						<tr>
							<td class="settingTableVal">선택된 항목이 없습니다.</td>
						</tr>
					</table>
				</div>
			</div>
			<div>
				<span>공제액</span>
			</div><br>
			<div class="card">
				<div class="card-body">
					<table class="table table-bordered" id="deducePayList">
						<tr>
							<td class="settingTableVal">선택된 항목이 없습니다.</td>
						</tr>
					</table>
				</div>
			</div>
			
		</form>
		
		<th:block layout:fragment="customJs">
			<script type="text/javascript" th:src="@{/dist/js/jquery-3.6.0.min.js}"></script>

        	<script type="text/javascript">
        		
			</script>
	
		</th:block>
		
	</th:block>

</html>