<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="ks43team02.mapper.AnnualMapper">
  	<resultMap type="Annual" id="AnnualResultMap">
		<result column="annual_standard_code" 			property="annualStandardCode"/>
		<result column="cp_representative_code" 		property="cpRepresentativeCode"/>
		<result column="super_admin_id" 				property="superAdminId"/>
		<result column="year" 							property="year"/>
		<result column="annual_get_day" 				property="annualGetDay"/>
  	</resultMap>
	<select id="getAnnualList" parameterType="String" resultMap="AnnualResultMap">
		SELECT
			annual_standard_code
			,cp_representative_code
			,super_admin_id
			,year
			,annual_get_day
		FROM
			tb_annual_standard
	</select>
	
	
  </mapper>