<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks43team02.mapper.EmplyMapper">
	<resultMap type="Emply" id="emplyResultMap">
		<result column="emply_id"					property="emplyId"/>
		<result column="organization_code_S"		property="organizationCodeS"/>
		<result column="rank_level_code"			property="rankLevelCode"/>
		<result column="position_level_code"		property="positionLevelCode"/>
		<result column="cp_representative_code"		property="cpRepresentativeCode"/>
		<result column="super_admin_id"				property="superAdminId"/>
		<result column="emply_pw"					property="emplyPw"/>
		<result column="emply_number"				property="emplyNumber"/>
		<result column="emply_name"					property="emplyName"/>
		<result column="emply_birth"				property="emplyBirth"/>
		<result column="emply_account"				property="emplyAccount"/>
		<result column="emply_home_address"			property="emplyHomeAddress"/>
		<result column="emplyment_date"				property="emplymentDate"/>
		<result column="emplyment_type"				property="emplymentType"/>
		<result column="retire_status"				property="retireStatus"/>
		<result column="cp_name"					property="cpName"/>
		<result column="reg_date"					property="regDate"/>
	</resultMap>
	<select id="getEmplyInfoList" parameterType="String" resultMap="emplyResultMap">
		/* 사원전체 정보 조회 */
		SELECT 
			emply_id						
			, organization_code_S			
			, rank_level_code			
			, position_level_code			
			, cp_representative_code		
			, super_admin_id				
			, emply_pw					
			, emply_number					
			, emply_name					
			, emply_birth					
			, emply_account					
			, emply_home_address			
			, emplyment_date				
			, emplyment_type				
			, retire_status				
			, cp_name						
			, reg_date					
		FROM 
			tb_emply_info_reg
	</select>
	<select id="getEmplyInfoById" parameterType="String" resultMap="emplyResultMap">
		/* 사원 상세정보 조회 */
		SELECT 
			emply_id						
			, organization_code_S			
			, rank_level_code			
			, position_level_code			
			, cp_representative_code		
			, super_admin_id				
			, emply_pw					
			, emply_number					
			, emply_name					
			, emply_birth					
			, emply_account					
			, emply_home_address			
			, emplyment_date				
			, emplyment_type				
			, retire_status				
			, cp_name						
			, reg_date					
		FROM 
			tb_emply_info_reg
		WHERE
			emply_id = #{emplyId};
	</select>
	<insert id="addEmply" parameterType="Emply">
		/* 회원가입 테스트 */
		INSERT INTO test_tb_user
		(
			user_name
			, user_email
			, user_pw
			, user_phone
			, user_addr
			, user_lvl
			, user_reg_date
		) VALUES (
			#{userName}
			, #{userEmail}
			, #{userPw}
			, #{userPhone}
			, #{userAddr}
			, #{userLvl}
			, CURDATE()
		);
	</insert>
</mapper>