<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks43team02.mapper.EmplyMapper">
	<resultMap type="Emply" id="emplyResultMap">
		<result column="user_name"			property="userName"/>
		<result column="user_email"			property="userEmail"/>
		<result column="user_pw"			property="userPw"/>
		<result column="user_phone"			property="userPhone"/>
		<result column="user_addr"			property="userAddr"/>
		<result column="user_lvl"			property="userLvl"/>
		<result column="user_reg_date"		property="userRegDate"/>
	</resultMap>
	<select id="getEmplyInfoById" parameterType="String" resultMap="emplyResultMap">
		/* 회원 상세정보 조회 */
		SELECT 
			user_name
			, user_email	
			, user_pw	
			, user_phone	
			, user_addr	
			, user_lvl	
			, user_reg_date	
		FROM 
			test_tb_user
		WHERE
			user_email = #{userEmail};
	</select>
	<insert id="addEmply" parameterType="Emply">
		/* 회원가입 테스트 */
		INSERT INTO test_tb_user
		(
			user_name
			, user_email
			, user_pw
			, user_phone
			, user_addr
			, user_lvl
			, user_reg_date
		) VALUES (
			#{userName}
			, #{userEmail}
			, #{userPw}
			, #{userPhone}
			, #{userAddr}
			, #{userLvl}
			, CURDATE()
		);
	</insert>
</mapper>