<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks43team02.mapper.FileMapper">
	<resultMap type="FileDto" id="fileResultMap">
		<id column="attach_file_code" property="attachFileCode"/>
		<result column="attach_file_original_name" property="attachFileOriginalName"	/>
		<result column="attach_file_new_name" property="attachFileNewName"	/>
		<result column="attach_file_path" property="attachFilePath"	/>
		<result column="attach_file_size" property="attachFileSize"	/>
		<result column="reg_date" property="regDate"	/>
	</resultMap>
	
	<insert id="addFile" parameterType="List">
		/* 파일 등록 */
		INSERT INTO tb_attach_file
			( attach_file_code
			, attach_file_original_name
			, attach_file_new_name
			, attach_file_path
			, attach_file_size
			, reg_date
			)VALUES
			<foreach collection="list" item="item" separator=",">
			( #{item.attachFileCode}
			 ,#{item.attachFileOriginalName}
			 ,#{item.attachFileNewName}
			 ,#{item.attachFilePath}
			 ,#{item.attachFileSize}
			 ,NOW()
			 )
			</foreach>		
	</insert>
	
	<insert id="addFileControl" parameterType="list">
		/* 파일 관계 테이블 등록 */
		INSERT INTO tb_file_control
			(reference_code
			,attach_file_code
			)VALUES 
			<foreach collection="list" item="item" separator=", ">
			(
			 #{item.reference_code}
			,#{item.attach_file_code}
			)
			</foreach>
	</insert>
	
		<select id="getFileList" resultMap="fileResultMap">
		SELECT
			 attach_file_code
			,attach_file_original_name
			,attach_file_new_name
			,attach_file_path
			,attach_file_size
			,reg_date
		FROM
			tb_attach_file
	</select>
</mapper>