<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ks43team02.mapper.PayMapper">

	<resultMap type="FixedAllowanceList" id="fixedResultMap">
		<id 	column="pay_fixedAllowance_list" 		property="fixedAllowCode"/>
		<result column="fixedAllowance" 				property="fixedAllowName"/>
		<result column="amount" 						property="fixedAllowAmount"/>
		<result column="contents" 						property="fixedAllowContents"/>
	</resultMap>
	
	<resultMap type="DeductionList" id="deductionResultMap">
		<id 	column="pay_deduction_list" 			property="deductionCode"/>
		<result column="deduction" 						property="deductionName"/>
		<result column="amount" 						property="deductionAmount"/>
		<result column="contents" 						property="deductionContents"/>
	</resultMap>
	
	<resultMap type="PaySet" id="paySetResultMap">
		<id 	column="paySet_code" 			property="paySetCode"/>
		<result column="paySet_date" 			property="paySetDate"/>
		<result column="paySet_time" 			property="paySetTime"/>
		<result column="fixedPay_list" 			property="fixedPayList"/>
		<result column="fixedPay_amount" 		property="fixedPayAmount"/>
		<result column="deductionPay_list" 		property="deductionPayList"/>
		<result column="deductionPay_amount" 	property="deductionPayAmount"/>
		<result column="paySet_regDate" 		property="paySetRegDate"/>
	</resultMap>
	
	<resultMap type="Emply" id="emplyResultMap">
		<id column="emply_id"						property="emplyId"/>
		<result column="organization_code_S"		property="organizationCodeS"/>
		<result column="rank_level_code"			property="rankLevelCode"/>
		<result column="position_level_code"		property="positionLevelCode"/>
		<result column="cp_representative_code"		property="cpRepresentativeCode"/>
		<result column="super_admin_id"				property="superAdminId"/>
		<result column="emply_pw"					property="emplyPw"/>
		<result column="emply_number"				property="emplyNumber"/>
		<result column="emply_name"					property="emplyName"/>
		<result column="emply_birth"				property="emplyBirth"/>
		<result column="emply_account"				property="emplyAccount"/>
		<result column="emply_salary"				property="emplySalary"/>
		<result column="emply_home_address"			property="emplyHomeAddress"/>
		<result column="emply_home_address_detail"	property="emplyHomeAddressDetail"/>
		<result column="emply_home_address_zip"		property="emplyHomeAddressZip"/>
		<result column="emplyment_date"				property="emplymentDate"/>
		<result column="emplyment_type"				property="emplymentType"/>
		<result column="retire_status"				property="retireStatus"/>
		<result column="cp_name"					property="cpName"/>
		<result column="reg_date"					property="regDate"/>
		<association property="rankLevelList"  		javaType="RankLevelList">
			<id column="rank_level_code"				property="rankLevelCode"/>
			<result column="cp_representative_code"		property="cpRepresentativeCode"/>
			<result column="super_admin_id"				property="superAdminId"/>
			<result column="rank_code"					property="rankCode"/>
			<result column="rank_level"					property="rankLevel"/>
			<result column="rank_name"					property="rankName"/>
			<result column="cp_name"					property="cpName"/>
			<result column="reg_date"					property="regDate"/>
		</association>
		<association property="organizationSList"  javaType="OrganizationSList">
			<id column="organization_code_S"			property="organizationSList"/>
			<result column="cp_representative_code"		property="cpRepresentativeCode"/>
			<result column="super_admin_id"				property="superAdminId"/>
			<result column="organization_code_L"		property="organizationCodeL"/>
			<result column="organization_code_M"		property="organizationCodeM"/>
			<result column="organization_name_L"		property="organizationNameL"/>
			<result column="organization_name_M"		property="organizationNameM"/>
			<result column="organization_name_S"		property="organizationNameS"/>
			<result column="cp_name"					property="cpName"/>
			<result column="reg_date"					property="regDate"/>
		</association>
	</resultMap>
	
	<resultMap type="PayAdd" id="payAddResultMap">
		<id 	column="payAdd_code" 			property="payAddCode"/>
		<result column="emply_name" 			property="emplyName"/>
		<result column="emply_id" 				property="emplyId"/>
		<result column="emply_rank" 			property="emplyRank"/>
		<result column="emply_organization" 	property="emplyOrganization"/>
		<result column="basic_pay" 				property="basicPay"/>
		<result column="fixedPay_list" 			property="fixedPayList"/>
		<result column="bonus_pay" 				property="bonusPay"/>
		<result column="deductionPay_list" 		property="deductionPayList"/>
		<result column="total_deduction" 		property="totalDeduction"/>
		<result column="total_payment" 			property="totalPayment"/>
		<result column="payAdd_regDate" 		property="payAddRegDate"/>
	</resultMap>
	
	<select id="getFixedAllowList" fetchSize="100" resultMap="fixedResultMap">
		/* 고정지급금 내역 출력 쿼리문 */
		SELECT
			pay_fixedAllowance_list,
			fixedAllowance,
			amount,
			contents
		FROM
			tb_pay_fixedallowance_list
	</select>
	
	<select id="getDeductionList" fetchSize="100" resultMap="deductionResultMap">
		/* 공제액 내역 출력 쿼리문 */
		SELECT
			pay_deduction_list,
			deduction,
			amount,
			contents
		FROM
			tb_pay_deduction_list
	</select>
	
	<insert id="addPaySet" parameterType="PaySet">
		/* 급여세팅값 등록 */
		INSERT INTO tb_pay_setting (
			paySet_code, 
			paySet_date, 
			paySet_time, 
			fixedPay_list, 
			fixedPay_amount, 
			deductionPay_list, 
			deductionPay_amount, 
			paySet_regDate
		) VALUES (
			sf_paySetCode(), 
			#{paySetDate}, 
			#{paySetTime}, 
			#{fixedPayList}, 
			#{fixedPayAmount}, 
			#{deductionPayList}, 
			#{deductionPayAmount}, 
			CURDATE()
		)
	</insert>

	<select id="getPaySet" fetchSize="100" resultMap="paySetResultMap">
		/* 급여세팅값 조회 */
		SELECT 
			paySet_date, 
			paySet_time, 
			fixedPay_list,
			fixedPay_amount, 
			deductionPay_list,
			deductionPay_amount,
			paySet_regDate
		FROM tb_pay_setting
		ORDER BY paySet_code DESC LIMIT 1
	</select>
	
	<select id="getPaySetForPayAdd" fetchSize="100" resultMap="paySetResultMap">
		/* 급여세팅값 조회 */
		SELECT 
			paySet_date, 
			paySet_time, 
			fixedPay_list, 
			fixedPay_amount,
			deductionPay_list,
			deductionPay_amount,
			paySet_regDate
		FROM tb_pay_setting
		ORDER BY paySet_code DESC LIMIT 1
	</select>
	
	<insert id="payAdd" parameterType="PayAdd">
		/* 급여내역 등록 */
		INSERT INTO tb_pay_payadd (
			payAdd_code, 
			emply_name, 
			emply_id, 
			emply_rank, 
			emply_organization, 
			basic_pay, 
			fixedPay_list, 
			bonus_pay, 
			deductionPay_list, 
			total_deduction, 
			total_payment, 
			payAdd_regDate
		) VALUES (
			sf_payAddCode(),  
			#{emplyName}, 
			#{emplyId}, 
			#{emplyRank}, 
			#{emplyOrganization}, 
			#{basicPay}, 
			#{fixedPayList}, 
			#{bonusPay}, 
			#{deductionPayList}, 
			#{totalDeduction}, 
			#{totalPayment}, 
			CURDATE()
		)
	</insert>
	
	<select id="getPayAddList" fetchSize="100" resultMap="payAddResultMap">
		/* 급여등록 내역 출력 쿼리문 */
		SELECT 
			emply_name,
			emply_id,
			emply_rank,
			emply_organization, 
			basic_pay, 
			fixedPay_list, 
			bonus_pay, 
			deductionPay_list, 
			total_deduction, 
			total_payment, 
			payAdd_regDate
		FROM 
			tb_pay_payadd
	</select>
	
	<delete id="removePayAdd" parameterType="String">
		/* 급여등록 내역 삭제 */
		DELETE
		FROM
			tb_pay_payadd
		WHERE
			emply_id=#{emplyId};
	</delete>
	
	<select id="getEmplyListForPayAdd" resultMap="emplyResultMap">
		/* 사원정보조회 test */
		SELECT
			emply_id,
			emply_name,
			emply_number,
			organization_name_S,
			rank_name,
			emply_salary
		FROM
			tb_emply_info_reg AS e
		INNER JOIN 
			tb_organization_s AS os
		ON
			e.organization_code_S = os.organization_code_S
		INNER JOIN 
			tb_rank_level AS rl
		ON
			e.rank_level_code = rl.rank_level_code
	</select>
	
</mapper>	