<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ks43team02.mapper.PayMapper">

	<resultMap type="FixedAllowanceList" id="fixedResultMap">
		<id 	column="pay_fixedAllowance_list" 		property="fixedAllowCode"/>
		<result column="fixedAllowance" 				property="fixedAllowName"/>
		<result column="amount" 						property="fixedAllowAmount"/>
		<result column="contents" 						property="fixedAllowContents"/>
	</resultMap>
	
	<resultMap type="DeductionList" id="deductionResultMap">
		<id 	column="pay_deduction_list" 			property="deductionCode"/>
		<result column="deduction" 						property="deductionName"/>
		<result column="amount" 						property="deductionAmount"/>
		<result column="contents" 						property="deductionContents"/>
	</resultMap>
	
	<resultMap type="PaySet" id="paySetResultMap">
		<id 	column="paySet_code" 			property="paySetCode"/>
		<result column="paySet_date" 			property="paySetDate"/>
		<result column="paySet_time" 			property="paySetTime"/>
		<result column="paySet_fixedList" 		property="fixedPayList"/>
		<result column="paySet_deduceList" 		property="deducePayList"/>
		<result column="paySet_regDate" 		property="paySetRegDate"/>
	</resultMap>
	
	
	<select id="getFixedAllowList" fetchSize="100" resultMap="fixedResultMap">
		/* 고정지급금 내역 출력 쿼리문 */
		SELECT
			f.pay_fixedAllowance_list,
			f.fixedAllowance,
			f.amount,
			f.contents
		FROM
			tb_pay_fixedallowance_list AS f
	</select>
	
	<select id="getDeductionList" fetchSize="100" resultMap="deductionResultMap">
		/* 공제액 내역 출력 쿼리문 */
		SELECT
			d.pay_deduction_list,
			d.deduction,
			d.amount,
			d.contents
		FROM
			tb_pay_deduction_list AS d
	</select>
	
	<insert id="addPaySet" parameterType="PaySet">
		/* 급여세팅값 등록 */
		INSERT INTO tb_pay_setting (
			paySet_code, 
			paySet_date, 
			paySet_time, 
			fixed_payList, 
			deduce_payList, 
			paySet_regDate
		) VALUES
		<foreach collection="fixedPayList" item="item" separator=" , ">
			(
			sf_paySetCode(), 
			#{item.paySet_date}, 
			#{item.paySet_time}, 
			#{item.fixed_payList}, 
			#{item.deduce_payList}, 
			CURDATE()
			)
		</foreach>
	</insert>
	
	<select id="getPaySet" fetchSize="100" resultMap="paySetResultMap">
		/* 고정지급금 내역 출력 쿼리문 */
		SELECT 
			s.paySet_code, 
			s.paySet_date, 
			s.paySet_time, 
			s.fixed_payList, 
			s.deduce_payList, 
			s.paySet_regDate
		FROM tb_pay_setting AS s
		ORDER BY s.paySet_code DESC LIMIT 1
	</select>
	
	
	
</mapper>	