<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default.html}">

	<div th:fragment="emplySearchFragment">
		<form th:action="@{/emply/emplyList}" method="POST">
			<select name="searchKey">
			    <option value="emplyId">사원아이디</option>
			    <option value="emplyName">사원명</option>
			    <option value="emplyNumber">사원번호</option>
			    <option value="emplyOrganization">부서</option>
			    <option value="emplyRank">직급</option>
			</select>
			<input type="text" name="searchValue"/>
			<input type="submit" value="검색"/>
		</form>
	</div>
</html>