<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default.html}">

	<!-- 사용자 정의 contents -->
	<th:block layout:fragment="customContents">
		<link th:href="@{/dist/css/main.css}" rel="stylesheet">	
		<div class="card">
			<div class="card-body">
				<!-- 프로젝트 소개 시작 -->
				<div class="col-lg-12">
                    <h2 class="card-title ensecretary">엔비서</h2>
                    <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators2" data-slide-to="1" class=""></li>
                            <li data-target="#carouselExampleIndicators2" data-slide-to="2" class=""></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <img class="img-fluid" src="assets/images/2teambanner/banner01.jpg" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="img-fluid" src="assets/images/2teambanner/banner02.jpg" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="img-fluid" src="assets/images/2teambanner/banner03.png" alt="Third slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <!-- 오른쪽 글씨 -->
	                <div class="media-body">
	                    <h3 class="mt-0">엔비서(Enterprise Business Support) - 스마트 업무 지원 시스템</h3>
	                    <p class="ensecretaryComment">
	                 ○프로젝트 목적<br>
1. 복잡하고 체계화 되어있지 않은 업무시스템을 간편하고 효율적으로 처리할 수 있게끔 도와주기 위함<br>
2. 사내 공지사항 및 업무전달내용, 피드백 등을 빠르고 정확하게 전달하여 업무에 혼선이 오지 않도록 도와주고, 즉각적인 대처가 가능하게 하는 등 업무처리 효율 및 속도 증진을 위함<br>
3. 직원별 / 팀별 능력치 및 근태를 확인하고 평가하기 용이하게 하기 위함<br><br>


○프로젝트 기능<br>
▶전자결재 기능<br>
▶채팅/게시판<br>
▶근태관리<br>
▶문서관리<br>
▶급여관리<br>
▶관리자모드<br><br>

○개발환경<br>
OS: Windows 10<br>
WAS: apache-tomcat-9.0.27<br>
Web Browser: Chrome<br>
Language: JAVA, HTML5, CSS, JavaScript, jQuery<br>
DB: MySQL<br>
DBMS: HeidiSQL<br>
개발도구: JDK<br>
통합 개발도구: Eclipse, Spring Tool Suite<br>
협업툴: GitHub, google sheet, google docs<br>
Framework: bootstrap 4 / Spring Framework / MyBatis / Maven<br>
API : spring-jdbc / mysql-connector-java / log4j2 / thymeleaf
	                    </p>
	                </div>
	                <!-- 오른쪽 글씨 -->
                </div>
                
				<!-- 프로젝트 소개 시작 끝 -->
				<div class="team02Box" >
					<!-- 팀원 소개 시작 -->
					<div style="background-color: #6576e9;">
						<h2 class="font-weight-bold text-center team02Title">팀원 소개</h2><br>
						<div class="row" style="justify-content: center;">
							<div class="card 2teamProfile" style="width: 18rem; margin-right:0.5rem;">
								<img class="card-img-top" src="assets/images/2team/정기훈.jpg" alt="Card image cap" style="width: 18rem; height: 24rem;">
					  			<div class="card-body text-center">
					    			<p class="card-text"><h3 class="font-weight-bold">정기훈</h3></p>
					    			<p class="card-text">
					    				<a class="btn waves-effect waves-light btn-outline-primary" th:href="@{/payment/payment_request}">결재요청</a>
					    				<a class="btn waves-effect waves-light btn-outline-primary" th:href="@{/payment/payments}">결재관리</a>
					    				<!-- 미구현 모달 구현시 모달 삭제 -->
					    				<a class="btn waves-effect waves-light btn-outline-primary" href="#" data-toggle="modal" data-target="#checkWarningModal">내 결재관리</a>
					    				<a class="btn waves-effect waves-light btn-outline-primary" th:href="@{/login/login}">회원</a>
					    				<a class="btn waves-effect waves-light btn-outline-primary" th:href="@{/member/emply_list}">회원-관리자</a>
					    			</p>
					  			</div>
							</div>
							<div class="card 2teamProfile" style="width: 18rem; margin-right:0.5rem;">
								<img class="card-img-top" src="assets/images/2team/백민주.jpg" alt="Card image cap" style="width: 18rem; height: 24rem;">
					  			<div class="card-body text-center">
					    			<p class="card-text"><h3 class="font-weight-bold">백민주</h3></p>
					    			<p class="card-text">
					    				<a class="btn waves-effect waves-light btn-outline-primary" th:href="@{/app/app-calendar}">일정관리</a>
					    				<a class="btn waves-effect waves-light btn-outline-primary" th:href="@{/workWay/work_time}">근태관리</a>
					    				<a class="btn waves-effect waves-light btn-outline-primary" th:href="@{/workWay/work_time_other}">직권입력</a>
					    				<a class="btn waves-effect waves-light btn-outline-primary" th:href="@{/workWay/work_setting}">근태설정</a>
					    				<a class="btn waves-effect waves-light btn-outline-primary" th:href="@{/workWay/work_setting_list}">근태설정리스트</a>
					    			</p>
					  			</div>
							</div>
							<div class="card 2teamProfile" style="width: 18rem; margin-right:0.5rem;">
								<img class="card-img-top" src="assets/images/2team/은승호.jpg" alt="Card image cap" style="width: 18rem; height: 24rem;">
					  			<div class="card-body text-center">
					    			<p class="card-text"><h3 class="font-weight-bold">은승호</h3></p>
					    			<p class="card-text">
						    			<a class="btn waves-effect waves-light btn-outline-primary" th:href="@{/pay/pay_setting}">급여세팅</a>
						    			<a class="btn waves-effect waves-light btn-outline-primary" th:href="@{/pay/payAdd}">급여등록</a>
						    			<a class="btn waves-effect waves-light btn-outline-primary" th:href="@{/pay/payAdd_list}">급여지급내역</a>
						    		</p>
					  			</div>
							</div>
							<div class="card 2teamProfile" style="width: 18rem; margin-right:0.5rem;">
								<img class="card-img-top" src="assets/images/2team/임소정.jpg" alt="Card image cap" style="width: 18rem; height: 24rem;">
					  			<div class="card-body text-center">
					    			<p class="card-text"><h3 class="font-weight-bold">임소정</h3></p>
					    			<p class="card-text">
					    				<a class="btn waves-effect waves-light btn-outline-primary" th:href="@{/annual/annual_application}">연차등록</a>
					    				<a class="btn waves-effect waves-light btn-outline-primary" th:href="@{/annual/annual_setting}">연차설정</a>
					    				<a class="btn waves-effect waves-light btn-outline-primary" th:href="@{/document/document_list}">문서관리 홈</a>
					    				<a class="btn waves-effect waves-light btn-outline-primary" th:href="@{/document/document_setting}">문서양식 관리</a>
					    			</p>
					  			</div>
							</div>
							<div class="card 2teamProfile" style="width: 18rem; margin-right:0.5rem;">
								<img class="card-img-top" src="assets/images/2team/김윤재.jpg" alt="Card image cap" style="width: 18rem; height: 24rem;">
					  			<div class="card-body text-center">
					    			<p class="card-text"><h3 class="font-weight-bold">김윤재</h3></p>
					    			<p class="card-text">
					    				<a class="btn waves-effect waves-light btn-outline-primary" th:href="@{/app/app-chat}">1:1채팅</a>
					    				<a class="btn waves-effect waves-light btn-outline-primary" th:href="@{/room/room}">익명채팅방</a>
					    				<a class="btn waves-effect waves-light btn-outline-primary" th:href="@{/board/notice_list}">공지사항</a>
					    				<a class="btn waves-effect waves-light btn-outline-primary" th:href="@{/board/department_list}">부서별게시판</a>
					    			</p>
					  			</div>
							</div>
						</div>
					</div>
					<!-- 팀원 소개 시작 끝 -->
					<!-- 미구현 모달 -->
					<div id="checkWarningModal" class="modal fade" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
			            <div class="modal-dialog modal-sm">
			                <div class="modal-content">
			                    <div class="modal-body p-4">
			                        <div id="errorMsgModal" class="text-center">
			                            <i class="dripicons-warning h1 text-warning"></i>
			                            <h4 class="mt-2">오류</h4>
			                            <p class="mt-3">구현중 입니다.</p>
			                            <button id="checkWarningModalBtn" type="button" class="btn btn-warning my-2" data-dismiss="modal">확인</button>
			                        </div>
			                    </div>
			                </div><!-- /.modal-content -->
			            </div><!-- /.modal-dialog -->
			        </div>
					<!-- 미구현 모달 -->
				</div>
			</div>
		</div>
	</th:block>
</html>