<!DOCTYPE html><!-- 출퇴근관리정리 -->
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default.html}">
<!-- th:replace="경로 :: 조각이름" -->

<head th:replace="fragments/head :: headFragment"></head>
<body>
<!-- 사용자 정의 contents -->
<th:block layout:fragment="customContents">
<style type="text/css" rel="stylesheet">
	#workwayBtn .workwayBtn{border:1px solid #5f76e8; color:#5f76e8;}
	#workwayCheckBox label{border:1px solid #5f76e8; color:#5f76e8; padding:0.3rem;}
	.checkLine{border:1px solid #5f76e8; margin-right:4px;}
	label{width:100%;}
</style>
<div class="card">
	<div class="card-body">
		<!-- 비밀번호가 일치할때 내용들이 활성화된다. -->
		<h4 class="card-title">비밀번호 확인</h4>
		    <label class="form-control-label" for="inputSuccess1">비밀번호를 확인해 주세요.</label>
		    <input type="text" class="form-control is-valid" id="inputSuccess1">
		    <div class="valid-feedback">
		        Success! You've done it.
		    </div>
		<form id="workSettingSendForm" name="workSettingSendForm" method="post" th:action="@{/workWay/work_setting}" class="mt-4">
			<h4 class="card-title">근무설정</h4>
			<div class="form-group mb-1">
		      	<label style="width:100%;">근무제선택</label>
				<select class="test form-control col-10" name="worksys" id="worksys" style="float:left;">
					<!-- <option disabled="disabled">::선택::</option> -->
					<option label="::선택::" value=""></option>
					<th:block th:if="${not #lists.isEmpty(workSetting)}" th:each="l : ${workSetting}">
						<option th:value="${l.standardWorkCode}">[[${l.worksystemName}]]</option>
					</th:block>
	           	</select>
				<button id="plusBtn" type="button" class="btn btn-primary col-2" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">추가하기</button>
				<div class="collapse" id="collapseExample">
					<div class="card formgroup" style="padding:1em 0;">
					    <input id="worksystemName" name="worksystemName" type="text" placeholder="근무제 명을 입력해주세요.">
					    <button type="submit" class="btn btn-primary">확인</button><!-- id="addWorkSystem" -->
					</div>
				</div>
			</div>
			<div class="form-group">
				<label>근무방식선택</label>
					<div id="workwayCheckBox">
						<label>
							<input type="checkbox" name="checkValue" id="checkValue" value="mobile">
							모바일
						</label>
						<button class="btn workwayBtn" type="button" id="workwayBtn" name="workwayBtn" value="mobile">모바일</button>
						<button class="btn workwayBtn" type="button" id="workwayBtn" name="workwayBtn" value="pc">pc</button>
						<button class="btn workwayBtn" type="button" id="workwayBtn" name="workwayBtn" value="qr">QR</button>
						<button class="btn workwayBtn" type="button" id="workwayBtn" name="workwayBtn" value="card">카드</button>
						<button class="btn workwayBtn" type="button" id="workwayBtn" name="workwayBtn" value="authority">직권입력</button>
					</div>
			</div>
			<div id="dayCheck" class="form-group">
				<label>근무요일선택</label>
				<div class="btn-group" data-toggle="buttons">
					<div class="form-check form-check-inline">
                      <label class="btn checkLine">
                          <div class="custom-control custom-checkbox mr-sm-2">
                              <input type="checkbox" class="custom-control-input" id="inlineCheckbox1" value="sun">
                              <label class="custom-control-label" for="inlineCheckbox1">일</label>
                          </div>
                      </label>
                      <label class="btn checkLine">
                          <div class="custom-control custom-checkbox mr-sm-2">
                              <input type="checkbox" class="custom-control-input" id="inlineCheckbox1" value="mon">
                              <label class="custom-control-label" for="inlineCheckbox1">월</label>
                          </div>
                      </label>
                      <label class="btn checkLine">
                          <div class="custom-control custom-checkbox mr-sm-2">
                              <input type="checkbox" class="custom-control-input" id="inlineCheckbox1" value="tue">
                              <label class="custom-control-label" for="inlineCheckbox1">화</label>
                          </div>
                      </label>
                      <label class="btn checkLine">
                          <div class="custom-control custom-checkbox mr-sm-2">
                              <input type="checkbox" class="custom-control-input" id="inlineCheckbox1" value="wen">
                              <label class="custom-control-label" for="inlineCheckbox1">수</label>
                          </div>
                      </label>
                      <label class="btn checkLine">
                          <div class="custom-control custom-checkbox mr-sm-2">
                              <input type="checkbox" class="custom-control-input" id="inlineCheckbox1" value="thr">
                              <label class="custom-control-label" for="inlineCheckbox1">목</label>
                          </div>
                      </label>
                      <label class="btn checkLine">
                          <div class="custom-control custom-checkbox mr-sm-2">
                              <input type="checkbox" class="custom-control-input" id="inlineCheckbox1" value="fri">
                              <label class="custom-control-label" for="inlineCheckbox1">금</label>
                          </div>
                      </label>
                      <label class="btn checkLine">
                          <div class="custom-control custom-checkbox mr-sm-2">
                              <input type="checkbox" class="custom-control-input" id="inlineCheckbox1" value="sat">
                              <label class="custom-control-label" for="inlineCheckbox1">토</label>
                          </div>
                      </label>
                  </div>
				</div>
			</div>
			<!-- <div id="result"></div> -->
			<div>
				<label>시간설정</label>
				<table>
					<thead>
						<tr>
							<th>시작시간</th>
							<th>종료시간</th>
							<th>휴게시간</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<input id="workTimeSet1" type="time" name="workStartTime" >
							</td>
							<td>
								<input id="workTimeSet2" type="time" name="workEndTime">
							</td>
							<td>
								<input id="workTimeSet3" type="time" name="breakTime">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
  	 	 	<button id="allSubmitBtn" onclick="workSettingSendForm()" type="button" class="btn btn-primary mt-3">양식보내기</button>
		</form>
	    </div>
	</div>
</th:block>	

<th:block layout:fragment="customScript">
	
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/assets/libs/popper.js/dist/umd/popper.min.js}"></script>
    <script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.min.js}"></script>
    <!-- apps -->
    <!-- apps -->
    <script th:src="@{/dist/js/app-style-switcher.js}"></script>
    <script th:src="@{/dist/js/feather.min.js}"></script>
    <script th:src="@{/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
    <script th:src="@{/dist/js/sidebarmenu.js}"></script>
    <!--Custom JavaScript -->
    <script th:src="@{/dist/js/custom.min.js}"></script>
    <!--This page JavaScript -->
    <script th:src="@{/assets/extra-libs/c3/d3.min.js}"></script>
    <script th:src="@{/assets/extra-libs/c3/c3.min.js}"></script>
    <script th:src="@{/assets/libs/chartist/dist/chartist.min.js}"></script>
	
	<script>
		$(function(){
			document.getElementById("startTime");
			document.getElementById("workTimeSet1").defaultValue = "09:00";
			document.getElementById("workTimeSet2").defaultValue = "18:00";
			document.getElementById("workTimeSet3").defaultValue = "12:00";
		});
		

		$(function() {	
			$(document).on('click', '#allSubmitBtn',function(){
				var 
					workSettingSendForm = $('#workSettingSendForm')
					,worksys = $("#worksys").val()
					,checkValue = $('#checkValue').val()
					,workTimeSet1 = $('#workTimeSet1').val()
					,workTimeSet2 = $('#workTimeSet2').val()
					,workTimeSet3 = $('#workTimeSet3').val();
				console.log(workTimeSet1);
				console.log(workTimeSet2);
				console.log(workTimeSet3);
				if(worksys == ''){
					alert('근무제를 선택해 주세요.');
				}else if(checkValue == '') {
					alert('근무방식을 선택해주세요.');
				}else if(workTimeSet1 == '' || workTimeSet2 == '' || workTimeSet3 == '') {
					alert('시간을 입력해 주세요.');
				}else{
					workSettingSendForm.submit();
				}
			});
	
			$('#plusBtn').click( function() {
				if( $(this).html() == '추가하기' ) {
					$(this).html('취소');
					$(this).attr('class','btn waves-effect waves-light btn-danger  col-2');
				} else {
					$(this).html('추가하기');
					$(this).attr('class','btn btn-primary col-2');
				}
			});
		});
	</script>
	<script type="text/javascript">

		
		//var target = document.getElementsByClassName("workwayBtn");
		var target = document.getElementById("checkValue");
		
		var isClick = [];
		for(var i = 0; i < target.length; i++){
			isClick[i] = true;
		}
		
		$(document).on('click', '#checkValue', function(e, i){
			console.log(isClick);
			console.log($(this).index());
			let indexBtn = $(this).index();
			if(isClick[indexBtn]){
				$(this).css('color','#fff');
				$(this).css('backgroundColor','#5f76e8');
				isClick[indexBtn] = false;
			}else{
				$(this).css('color','#5f76e8');
				$(this).css('backgroundColor','#fff');
				isClick[indexBtn] = true;
			}
			
		});
		
	</script>
	<script type="text/javascript">
		/* function workSettingSendForm(){
			var worksys = document.getElementById("worksys");
			if(worksys.value == ""){
				alert("근무제를 선택해주세요.");
				worksys.focus();
				return false;
			}
		}; */
	</script>
	
</th:block>