<!DOCTYPE html><!-- 출퇴근관리정리 -->
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default.html}">
<!-- th:replace="경로 :: 조각이름" -->

<!-- 사용자 정의 contents -->
<th:block layout:fragment="customContents">
	<style>
	  /* section calendar */
		.sec_cal { margin: 0 auto;font-family: "NotoSansR";}
		.sec_cal .cal_nav {display: flex; justify-content: center;align-items: center;
		    font-weight: 700;font-size: 48px; line-height: 78px;}
		.sec_cal .cal_nav .year-month { width: 300px;text-align: center; line-height:}
		.sec_cal .cal_nav .nav { display: flex; border: 1px solid #333333; border-radius: 5px;}
		.sec_cal .cal_nav .go-prev,.sec_cal .cal_nav .go-next {
		    display: block;width: 50px;height: 78px; font-size: 0;display: flex;
		    justify-content: center;align-items: center;
		}
		.sec_cal .cal_nav .go-prev::before,.sec_cal .cal_nav .go-next::before {
		    content: "";display: block; width: 20px;height: 20px; border: 3px solid #000;
		    border-width: 3px 3px 0 0;transition: border 0.1s;}
		.sec_cal .cal_nav .go-prev:hover::before,.sec_cal .cal_nav .go-next:hover::before {
			 border-color: #ed2a61;}
		.sec_cal .cal_nav .go-prev::before {transform: rotate(-135deg);}
		.sec_cal .cal_nav .go-next::before {  transform: rotate(45deg);}
		.sec_cal .cal_wrap {padding-top: 40px;position: relative;margin: 0 auto;}
		.sec_cal .cal_wrap .days {display: flex;margin-bottom: 20px; padding-bottom: 20px;
			border-bottom: 1px solid #ddd;}
		.sec_cal .cal_wrap::after {  top: 368px;}
		.sec_cal .cal_wrap .day {width:1rem;display:flex; align-items: center; 
			justify-content: center;width: calc(100% / 14);text-align: left;color: #999; 
			font-size: 12px;text-align: center;border-radius:5px;}
		.current.today {background: rgb(242 242 242);}
		.sec_cal .cal_wrap .dates {display: flex;flex-flow: nowrap; height: 290px;}
		.sec_cal .cal_wrap .day:nth-child(7n -6) { color: #3c6ffa;}
		.sec_cal .cal_wrap .day:nth-child(7n) {color: #ed2a61;}
		.sec_cal .cal_wrap .day.disable { color: #ddd;}
		.box{box-shadow: none; padding:0;}
		.card-header{margin:1rem 0;}
		.countBox{text-align:center; word-break: keep-all;display: inline-flex; flex-wrap: nowrap;}
		.text-style{text-align:center;}
		.container-fluid{margin:0; padding:0;}
	</style>
	<!-- 출퇴근 시간찍히는 곳 -->
	<div class="card">
       <div class="card-body">
			<ul class="nav nav-tabs mb-3">
				<li class="nav-item">
				    <a href="#home" data-toggle="tab" aria-expanded="false" class="nav-link active">
				        <i class="mdi mdi-home-variant d-lg-none d-block mr-1"></i>
				        <span class=" d-lg-block">근태확인</span>
				    </a>
				</li>
				<li class="nav-item">
				    <a href="#profile" data-toggle="tab" aria-expanded="true" class="nav-link">
				        <i class="mdi mdi-account-circle d-lg-none d-block mr-1"></i>
				        <span class=" d-lg-block">근태현황보기</span>
				    </a>
				</li>
				<li class="nav-item">
				    <a href="#settings" data-toggle="tab" aria-expanded="false" class="nav-link">
				        <i class="mdi mdi-settings-outline d-lg-none d-block mr-1"></i>
				        <span class=" d-lg-block">근태직권입력요청</span>
				    </a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="home">
			 		<h3 class="card-title">Today</h3>
					<div class="col-md-12" style="border-left:2px solid #5f76e8";>
						<div id="getDay">오늘일자 : </div>
						<div>근무상 정해진 출퇴근시간</div>
					</div>
					<div class="table-responsive mt-3">
						<table class="table table-bordered">
							<tbody>
								<tr>
									<td>출근</td>
									<td class="w-40" id="startTime"></td>
									<td >퇴근</td>
									<td class="w-40" id="endTime"></td>
								</tr>
								<tr> 
									<td >외출</td>
									<td id="breakTime"></td>
									<td >복귀</td>
									<td id="returnTime"></td>
								</tr>
							</tbody>
						</table>        
						<div class="text-center">
							<button type="button" class="btn waves-effect waves-light btn-primary "  data-toggle="modal" data-target="#startTimeModal" id="startTimeBtn">출근</button>
							<button type="button" class="btn waves-effect waves-light btn-primary"   data-toggle="modal" data-target="#endTimeModal" id="endTimeBtn">퇴근</button>
							<button type="button" class="btn waves-effect waves-light btn-primary"  data-toggle="modal" data-target="#breakTimeModal" id="breakTimeBtn">외출</button>
							<button type="button" class="btn waves-effect waves-light btn-primary" data-toggle="modal" data-target="#returnTimeModal" id="returnTimeBtn">복귀</button>
						</div>
						<!-- sample modal content -->
						<div id="startTimeModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;" th:action="@{/workWay/work_time}">
						<div class="modal-dialog">
						    <div class="modal-content">
						        <div class="modal-header">
						            <h4 class="modal-title" id="myModalLabel">출근</h4>
						            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						        </div>
						        <div class="modal-body">
						            <p>현재일자는 </p>
						            <p class="startTime col-lg-4"></p>
						            <p>입니다. 확인하시겠습니까?</p>
						        </div>
						        <div class="modal-footer">
						            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
						            <button type="button" class="btn btn-primary" id="startSaveBtn" onclick="startsave()">Save changes</button>
						        </div>
						    </div><!-- /.modal-content -->
						</div><!-- /.modal-dialog -->
						</div><!-- /.modal -->
						<!-- sample modal content -->
						<div id="endTimeModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;" th:action="@{/workWay/work_time}">
						<div class="modal-dialog">
						    <div class="modal-content">
						        <div class="modal-header">
						            <h4 class="modal-title" id="myModalLabel">퇴근</h4>
						            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						        </div>
						        <div class="modal-body">
						            <p>현재일자는 </p>
						            <p class="endTime col-lg-4"></p>
						            <p>입니다. 확인하시겠습니까?</p>
						        </div>
						        <div class="modal-footer">
						            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
						            <button type="button" class="btn btn-primary" id="endSaveBtn" onclick="endsave()">Save changes</button>
						        </div>
						    </div><!-- /.modal-content -->
						</div><!-- /.modal-dialog -->
						</div><!-- /.modal -->
						<!-- sample modal content -->
						<div id="breakTimeModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;" th:action="@{/workWay/work_time}">
						<div class="modal-dialog">
						    <div class="modal-content">
						        <div class="modal-header">
						            <h4 class="modal-title" id="myModalLabel">외출</h4>
						            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						        </div>
						        <div class="modal-body">
						            <p>현재일자는 </p>
						            <p class="breakTime col-lg-4"></p>
						            <p>입니다. 확인하시겠습니까?</p>
						        </div>
						        <div class="modal-footer">
						            <button type="button" class="btn btn-light" data-dismiss="modal" >Close</button>
						            <button type="button" class="btn btn-primary" id="breakSaveBtn" onclick="breaksave()">Save changes</button>
						        </div>
						    </div><!-- /.modal-content -->
						</div><!-- /.modal-dialog -->
						</div><!-- /.modal -->
						<!-- sample modal content -->
						<div id="returnTimeModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;" th:action="@{/workWay/work_time}">
						<div class="modal-dialog">
						<div class="modal-content">
						    <div class="modal-header">
						        <h4 class="modal-title" id="myModalLabel">복귀</h4>
						        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						    </div>
						    <div class="modal-body">
						        <p>현재일자는 </p>
						        <p class="returnTime col-lg-4"></p>
						        <p>입니다. 확인하시겠습니까?</p>
						    </div>
						    <div class="modal-footer">
						        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
						        <button type="button" class="btn btn-primary" id="returnSaveBtn" onclick="returnsave()">Save changes</button>
						    </div>
						</div><!-- /.modal-content -->
						</div><!-- /.modal-dialog -->
						</div><!-- /.modal -->
						<div class="card-header">
						   	나의 근태현황	<span style="font-size:10px;">(한달기준)</span>
						</div>
						<div class="text-style">
							<div class="row countBox">
								<div class="col">
									<h5 class="badge badge-secondary rounded-circle" style="padding:0; width:50px; height:50px;">
									<span th:if="${not #lists.isEmpty(start)}" th:each="l : ${start}" th:text="${l.worktimeCumulativeCode}"  style="line-height: 50px;" ></span>
									</h5>
									<p>출근현황</p> 		    		
								</div>
								<div class="col">
									<h5 class="badge badge-secondary rounded-circle" style="padding:0; width:50px; height:50px;">
									<span  th:if="${not #lists.isEmpty(late)}" th:each="l : ${late}" th:text="${l.statusLate}" style="line-height: 50px;"></span>
									<!-- <span th:if="${not #lists.isEmpty(workTime)}" th:each="l : ${workTime}" th:text="${l.statusLate}" style="line-height: 50px;"></span> -->
									</h5>
									<p>지각현황</p> 		    		
								</div>
								<div class="col">
									<h5 class="badge badge-secondary rounded-circle" style="padding:0; width:50px; height:50px;">
									<span style="line-height: 50px;">1</span>
									</h5>
									<p>조퇴</p> 		    		
								</div>
								<div class="col">
									<h5 class="badge badge-secondary rounded-circle" style="padding:0; width:50px; height:50px;">
									<span style="line-height: 50px;" th:if="${not #lists.isEmpty(out)}" th:each="o : ${out}" th:text="${o.statusOutsideWork}"></span>
									</h5>
									<p>외근</p> 		    		
								</div>
								<div class="col">
									<h5 class="badge badge-secondary rounded-circle" style="padding:0; width:50px; height:50px;">
									<span style="line-height: 50px;">1</span>
									</h5>
									<p>무단결근</p> 		    		
								</div>
							</div>
						</div>
					</div>
					
				</div><!-- 첫번째 탭 #home -->
				<div class="tab-pane" id="profile" ><!-- 두번째 탭 -->
					<div class="container-fluid"  style="overflow-x:scroll;">
						<table id="default_order" class="table table-striped table-bordered display no-wrap" >
							<thead>
								<tr>
									<th>no</th>
									<th>사원아이디</th>
									<th>사원명</th>
									<th>일자</th>
									<th>출근시간</th>
									<th>퇴근시간</th>
									<th>지각상태</th>
									<th>외근상태</th>
								</tr>
							</thead>
							<tbody>
								<th:block>
									<tr th:if="${not #lists.isEmpty(workTime)}" th:each="l,num : ${workTime}" >
										<td th:text="${num.count}">[[${num.count}]]</td>      <!-- [[${l.emplyId}]] -->
										<td th:text="${l.emplyId}">[[${l.emplyId}]]</td>      <!-- [[${l.emplyId}]] -->
										<td th:text="${l.emplyName}"></td>
										<td th:text="${l.workDate}"></td>
										<td th:text="${l.workStartTime}"></td>
										<td th:text="${l.workEndTime}"></td>
										<td th:text="${l.statusLate}"></td>
										<td th:text="${l.statusOutsideWork}"></td>
									</tr>
									<tr th:unless="${not #lists.isEmpty(workTime)}" th:each="l : ${workTime}">
										<td colspan="5">조회된 내용이 없습니다.</td>
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
				</div><!-- 두번째 탭 #profile -->
				<div class="tab-pane" id="settings">
					<form action="" method="post">
					
					</form>
				</div><!-- 세번째 탭 #settings --><!-- 세번째 탭 -->
			</div>
		</div>
	</div>
</th:block>
 

<th:block layout:fragment="customScript">
	<!-- ============================================================== -->
	<!-- All Jquery -->
	<!-- ============================================================== -->
	<script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
	<script th:src="@{/assets/extra-libs/taskboard/js/jquery.ui.touch-punch-improved.js}"></script>
	<script th:src="@{/assets/extra-libs/taskboard/js/jquery-ui.min.js}"></script>
	<script th:src="@{/assets/libs/popper.js/dist/umd/popper.min.js}"></script>
	<script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.min.js}"></script>
	<!-- ============================================================== -->
	<!-- apps -->
	<!-- ============================================================== -->
	<script th:src="@{/dist/js/app-style-switcher.js}"></script>
	<script th:src="@{/dist/js/feather.min.js}"></script>
	<script th:src="@{/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
	<script th:src="@{/dist/js/sidebarmenu.js}"></script>
	<!-- ============================================================== -->
	<!--Custom JavaScript -->
	<!-- ============================================================== -->
	<script th:src="@{/dist/js/custom.min.js}"></script>
	<!-- ============================================================== -->
	<!--This page JavaScript -->
	<!-- ============================================================== -->
	<script th:src="@{/assets/libs/moment/min/moment.min.js}"></script>
	<script th:src="@{/assets/libs/fullcalendar/dist/fullcalendar.min.js}"></script>
	<script th:src="@{/dist/js/pages/calendar/cal-init.js}"></script>
    <!-- 확인 -->
    <!-- Bootstrap tether Core JavaScript -->
    
    <script th:src="@{/assets/extra-libs/sparkline/sparkline.js}"></script>
    
    <!--This page plugins -->
    <script th:src="@{/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/dist/js/pages/datatable/datatable-basic.init.js}"></script>
    <!-- 확인//// -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    
    <script type="text/javascript">
			 $(function(){
				var today = new Date();
				var data =  today.getFullYear(); // 년도
				let year = today.getFullYear(); // 년도
				let month = today.getMonth() + 1;  // 월
				let date = today.getDate();  // 날짜
				
				let hours = today.getHours(); // 시
				let minutes = today.getMinutes();  // 분
				let seconds = today.getSeconds();  // 초
				let milliseconds = today.getMilliseconds(); // 밀리초
				var person = JSON.stringify(today);
				//alert(year+'년' + month+'월' + date+'일');
				var workStartTime = year+ '년' + month + '월' +  date + '일';
				var sendData = {};
				sendData.workStartTime = workStartTime;
				sendData.month = month;
				sendData.date = date;
				
				console.log(JSON.stringify(sendData));
				
				var request = $.ajax({
			           url: "/workWay/work_time",
			           method: "POST",
			           contentType : "application/json; charset=utf-8",
			           data: JSON.stringify(sendData),
			           dataType: "json"
			         });
				request.done(function(data){
					console.log(data);
			        if(sendData != null){
			        	//if(data) location.reload();
			        	console.log(data.workStartTime);
			        	$('#getDay').append(data.workStartTime);
			        }
				});
			         
			 });
			 function getInnerHtml(){
				 const element = document.getElementById("getDay");
				 element.innerHTML='<div id="getDay">[[${sendData2}]]</div>';
			 }
	</script>
	     
    
	<script type="text/javascript"  th:inline="javascript">
		
	
	
		//출근시간기록
		$("#startTimeBtn").click(function() {
			
			let today = new Date();   
			
			let year = today.getFullYear(); // 년도
			let month = today.getMonth() + 1;  // 월
			let date = today.getDate();  // 날짜
			
			let hours = today.getHours(); // 시
			let minutes = today.getMinutes();  // 분
			let seconds = today.getSeconds();  // 초
			let milliseconds = today.getMilliseconds(); // 밀리초
			//console.log(hours)
			//$('.table-responsive-lg .startTime').text(year+'년'+month+'월'+date+'일'+ hours + ':' + minutes + ':' + seconds + ':' + milliseconds)
			$('#startTimeModal .startTime').text(year+'년 '+month+'월 '+date+'일 ');
			$('#startTimeModal').show();
		}); 
		
		$("#startSaveBtn").on("click", function() {
			let today = new Date();   
			   
	         let year = today.getFullYear(); // 년도
	         let month = today.getMonth() + 1;  // 월
	         let date = today.getDate();  // 날짜
	         
	         let hours = today.getHours(); // 시
	         let minutes = today.getMinutes();  // 분
	         let seconds = today.getSeconds();  // 초
	         let milliseconds = today.getMilliseconds(); // 밀리초 
	         
	      			         
			   /*<![CDATA[*/
				var workTimeList = '[[${workTime}]]';
				/*]]>*/
				workTimeList = JSON.parse(workTimeList);
				console.log(workTimeList);
				
				var worktimeCumulativeCode = workTimeList[0].worktimeCumulativeCode;
				var cpRepresentativeCode = workTimeList[0].cpRepresentativeCode;
				var standardWorksystemCpCode = workTimeList[0].standardWorksystemCpCode;
				var workwayCode = workTimeList[0].workwayCode;
				var emplyId = workTimeList[0].emplyId;
				var emplyName = workTimeList[0].emplyName;
				var workStartTime =  hours + ':' + minutes + ':' + seconds;
				/*var workStartTime = year+ ':' + month + ':' +  date + ':' + hours + ':' + minutes + ':' + seconds;*/
				var statusLate = 0;
				if(hours > 9 && minutes > 0 && seconds > 0) statusLate = 1;
				var statusOutsideWork = 0;
				
				var sendData = {};
				sendData.worktimeCumulativeCode = worktimeCumulativeCode;
				sendData.cpRepresentativeCode = cpRepresentativeCode;
				sendData.standardWorksystemCpCode = standardWorksystemCpCode;
				sendData.workwayCode = workwayCode;
				sendData.emplyId = emplyId;
				sendData.emplyName = emplyName;
				sendData.workStartTime = workStartTime;
				sendData.statusLate = statusLate;
				sendData.statusOutsideWork = 0;
				
				console.log(JSON.stringify(sendData))
			  
		         var request = $.ajax({
		           url: "/workWay/work_time",
		           method: "POST",
		           contentType : "application/json; charset=utf-8",
		           data: JSON.stringify(sendData),
		           dataType: "json"
		         });
		          
		         request.done(function(data){
			         $('#startTimeModal').modal('hide');

			        //if(data) location.reload();
			         $('td#startTime').text(year+'년 '+month+'월 '+date+'일 '+ hours + ' : ' + minutes + ' : ' + seconds);
		         });
		          
		         request.fail(function( jqXHR, textStatus ) {
		           alert( "Request failed: " + textStatus );
		         });
		         
		          
		   });
		//퇴근시간기록
		$("#endTimeBtn").click(function() {
			let today = new Date();   
			
			let year = today.getFullYear(); // 년도
			let month = today.getMonth() + 1;  // 월
			let date = today.getDate();  // 날짜
			
			let hours = today.getHours(); // 시
			let minutes = today.getMinutes();  // 분
			let seconds = today.getSeconds();  // 초
			let milliseconds = today.getMilliseconds(); // 밀리초
			console.log(today);
			//$('.table-responsive-lg .startTime').text(year+'년'+month+'월'+date+'일'+ hours + ':' + minutes + ':' + seconds + ':' + milliseconds)
			$('#endTimeModal p.endTime').text(year+'년 '+month+'월 '+date+'일 ');
		});
		         
		$("#endSaveBtn").click(function() {
			let today = new Date();   
			
			let year = today.getFullYear(); // 년도
			let month = today.getMonth() + 1;  // 월
			let date = today.getDate();  // 날짜
			
			let hours = today.getHours(); // 시
			let minutes = today.getMinutes();  // 분
			let seconds = today.getSeconds();  // 초
			let milliseconds = today.getMilliseconds(); // 밀리초
			document.getElementById('endTime').innerHTML=(year+'년 '+month+'월 '+date+'일 '+ hours + ' : ' + minutes + ' : ' + seconds);
			
			$('#endTimeModal').modal('hide');
			$(".modal-backdrop").remove(); 
		});
		
		//외출시간기록
		$("#breakTimeBtn").click(function() {
			let today = new Date();   
			
			let year = today.getFullYear(); // 년도
			let month = today.getMonth() + 1;  // 월
			let date = today.getDate();  // 날짜
			
			let hours = today.getHours(); // 시
			let minutes = today.getMinutes();  // 분
			let seconds = today.getSeconds();  // 초
			let milliseconds = today.getMilliseconds(); // 밀리초
			
			//$('.table-responsive-lg .startTime').text(year+'년'+month+'월'+date+'일'+ hours + ':' + minutes + ':' + seconds + ':' + milliseconds)
			$('#breakTimeModal p.breakTime').text(year+'년 '+month+'월 '+date+'일 ');
		});
	       
		$("#breakSaveBtn").click(function() {
		
			let today = new Date();   
			 
			let year = today.getFullYear(); // 년도
			let month = today.getMonth() + 1;  // 월
			let date = today.getDate();  // 날짜
			
			let hours = today.getHours(); // 시
			let minutes = today.getMinutes();  // 분
			let seconds = today.getSeconds();  // 초
			let milliseconds = today.getMilliseconds(); // 밀리초 
			document.getElementById('breakTime').innerHTML=(year+'년 '+month+'월 '+date+'일 '+ hours + ' : ' + minutes + ' : ' + seconds);
			
			$('#breakTimeModal').modal('hide');
			$(".modal-backdrop").remove(); 
		});
		   
		//외출시간기록
		$("#returnTimeBtn").click(function() {
			let today = new Date();   
			
			let year = today.getFullYear(); // 년도
			let month = today.getMonth() + 1;  // 월
			let date = today.getDate();  // 날짜
			
			let hours = today.getHours(); // 시
			let minutes = today.getMinutes();  // 분
			let seconds = today.getSeconds();  // 초
			let milliseconds = today.getMilliseconds(); // 밀리초
			
			//$('.table-responsive-lg .startTime').text(year+'년'+month+'월'+date+'일'+ hours + ':' + minutes + ':' + seconds + ':' + milliseconds)
			$('#returnTimeModal p.returnTime').text(year+'년 '+month+'월 '+date+'일 ');
		});
		         
		$("#returnSaveBtn").click(function() {
		
			let today = new Date();   
			 
			let year = today.getFullYear(); // 년도
			let month = today.getMonth() + 1;  // 월
			let date = today.getDate();  // 날짜
			
			let hours = today.getHours(); // 시
			let minutes = today.getMinutes();  // 분
			let seconds = today.getSeconds();  // 초
			let milliseconds = today.getMilliseconds(); // 밀리초 */
			document.getElementById('returnTime').innerHTML=(year+'년 '+month+'월 '+date+'일 '+ hours + ' : ' + minutes + ' : ' + seconds);
			   
			$('#returnTimeModal').modal('hide');
			$(".modal-backdrop").remove(); 
		});
		
		
			$("#endTimeBtn").hide();
			$("#breakTimeBtn").hide();
			$("#returnTimeBtn").hide();
			function startsave(){
				$("#endTimeBtn").show();
				$("#startTimeBtn").hide();
				$("#breakTimeBtn").show();
			};
			function breaksave(){
				$("#returnTimeBtn").show();
				$("#endTimeBtn").show();
				$("#breakTimeBtn").hide();
			};
			function returnsave(){
				$("#returnTimeBtn").hide();
				$("#breakTimeBtn").hide();
			};
			function endsave(){
				$("#endTimeBtn").hide();
				$("#breakTimeBtn").hide();
				$("#returnTimeBtn").hide();
			};
		
	</script>
</th:block>