<!DOCTYPE html><!-- 출퇴근관리정리 -->
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default.html}">
<!-- th:replace="경로 :: 조각이름" -->

<head th:replace="fragments/head :: headFragment"></head>
<body>
	

	<!-- 사용자 정의 contents -->
<th:block layout:fragment="customContents">

	<!-- 출퇴근 시간찍히는 곳 -->
	<div class="col-lg-12 ">
	    <div class="card" >
		    <div class="card-header">출퇴근 기록관리</div>
	        <div class="card-body">
				<blockquote  class="text-sm-left">
			      <p>출퇴근을 등록하여 출근, 퇴근, 지각, 외출, 복귀 시간을 확인할 수 있습니다.</p>
			      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
			    </blockquote>
				
				<div class="table-responsive mt-3">
		             <table class="table table-bordered table-responsive-lg">
		                 <tbody>
		                     <tr>
		                         <td class="col-lg-2">출근</td>
		                         <td class=" col-lg-4" id="startTime"></td>
		                         <td class="col-lg-2">퇴근</td>
		                         <td class="endTime col-lg-4" id="endTime"></td>
		                     </tr>
		                     <tr> 
		                         <td class="col-lg-2">외출</td>
		                         <td class="breakTime col-lg-4"></td>
		                         <td class="col-lg-2">복귀</td>
		                         <td class="returnTime col-lg-4"></td>
		                     </tr>
		                 </tbody>
		             </table>
		         </div>	        
	            <div class="btn-list text-center">
	                <button type="button" class="btn waves-effect waves-light btn-primary "  data-toggle="modal" data-target="#myModal" id="startTimeBtn">출근</button>
	                <button type="button" class="btn waves-effect waves-light btn-primary"   data-toggle="modal" data-target="#myModal" id="endTimeBtn">퇴근</button>
	                <button type="button" class="btn waves-effect waves-light btn-primary" id="breakTimeBtn">외출</button>
	                <button type="button" class="btn waves-effect waves-light btn-primary" id="returnTimeBtn">복귀</button>
	                <!-- <button type="button" class="btn waves-effect waves-light btn-primary">출장</button> -->
	            </div>
	            
	                <!-- sample modal content -->
	                <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;" th:action="@{/workWay/work_time}">
	                    <div class="modal-dialog">
	                        <div class="modal-content">
	                            <div class="modal-header">
	                                <h4 class="modal-title" id="myModalLabel">출근</h4>
	                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	                            </div>
	                            <div class="modal-body">
	                                <p>현재일자는 </p>
	                                <p class="startTime col-lg-4"></p>
	                                <p class="endTime col-lg-4"></p>
	                                <p>입니다. 확인하시겠습니까?</p>
	                            </div>
	                            <div class="modal-footer">
	                                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
	                                <button type="button" class="btn btn-primary" id="saveBtn">Save changes</button>
	                            </div>
	                        </div><!-- /.modal-content -->
	                    </div><!-- /.modal-dialog -->
	                </div><!-- /.modal -->
	            
	        </div>
	    <div class="card-header">나의 근태현황</div>
	    <div class="card-body">
	    	<div class="box col-lg-6" style="margin:0 auto;">
		    	<div class="row" style="text-align:center;">
		    		<div class="col">
						<h5 class="badge badge-secondary rounded-circle" style="padding:0; width:50px; height:50px;">
							<span style="line-height: 50px;">1</span>
						</h5>
						<p>출근현황</p> 		    		
		    		</div>
		    		<div class="col">
						<h5 class="badge badge-secondary rounded-circle" style="padding:0; width:50px; height:50px;">
							<span style="line-height: 50px;">1</span>
						</h5>
						<p>지각현황</p> 		    		
		    		</div>
		    		<div class="col">
						<h5 class="badge badge-secondary rounded-circle" style="padding:0; width:50px; height:50px;">
							<span style="line-height: 50px;">1</span>
						</h5>
						<p>조퇴</p> 		    		
		    		</div>
		    		<div class="col">
						<h5 class="badge badge-secondary rounded-circle" style="padding:0; width:50px; height:50px;">
							<span style="line-height: 50px;">1</span>
						</h5>
						<p>외출</p> 		    		
		    		</div>
		    		<div class="col">
						<h5 class="badge badge-secondary rounded-circle" style="padding:0; width:50px; height:50px;">
							<span style="line-height: 50px;">1</span>
						</h5>
						<p>무단결석</p> 		    		
		    		</div>
		    	</div>
			</div>
	    
			</div>
	    </div>
	    
	</div>
		
		
 

<th:block layout:fragment="customScript">
    <div th:replace="fragments/footer :: footerFragment"></div>
   
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/assets/libs/popper.js/dist/umd/popper.min.js}"></script>
    <script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.min.js}"></script>
    <!-- apps -->
    <!-- apps -->
    <script th:src="@{/dist/js/app-style-switcher.js}"></script>
    <script th:src="@{/dist/js/feather.min.js}"></script>
    <script th:src="@{/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
    <script th:src="@{/dist/js/sidebarmenu.js}"></script>
    <!--Custom JavaScript -->
    <script th:src="@{/dist/js/custom.min.js}"></script>
    <!--This page JavaScript -->
    <script th:src="@{/assets/extra-libs/c3/d3.min.js}"></script>
    <script th:src="@{/assets/extra-libs/c3/c3.min.js}"></script>
    <script th:src="@{/assets/libs/chartist/dist/chartist.min.js}"></script>
    <script th:src="@{/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js}"></script>
    <script th:src="@{/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js}"></script>
    <script th:src="@{/assets/extra-libs/jvector/jquery-jvectormap-world-mill-en.js}"></script>
    <script th:src="@{/dist/js/pages/dashboards/dashboard1.min.js}"></script>   

   <script>
 //출근시간기록
   $(".btn-list #startTimeBtn").click(function() {
          let today = new Date();   
   
          let year = today.getFullYear(); // 년도
          let month = today.getMonth() + 1;  // 월
          let date = today.getDate();  // 날짜
          
          let hours = today.getHours(); // 시
          let minutes = today.getMinutes();  // 분
          let seconds = today.getSeconds();  // 초
          let milliseconds = today.getMilliseconds(); // 밀리초
   
          //$('.table-responsive-lg .startTime').text(year+'년'+month+'월'+date+'일'+ hours + ':' + minutes + ':' + seconds + ':' + milliseconds)
          $('p.startTime').text(year+'년 '+month+'월 '+date+'일 '+ hours + '시 ' + minutes + '분 ' + seconds + '초 ');
          
          //console.log(today);
          
          
   });
	   $("#saveBtn").click(function() {
		  /*
		   let today = new Date();   
		   
          let year = today.getFullYear(); // 년도
          let month = today.getMonth() + 1;  // 월
          let date = today.getDate();  // 날짜
          
          let hours = today.getHours(); // 시
          let minutes = today.getMinutes();  // 분
          let seconds = today.getSeconds();  // 초
          let milliseconds = today.getMilliseconds(); // 밀리초
	      document.getElementById('startTime').innerHTML=(year+'년 '+month+'월 '+date+'일 '+ hours + '시 ' + minutes + '분 ' + seconds+'초 ');
	      */
          $('#myModal').modal('hide');
          $(".modal-backdrop").remove(); 
	   });

      //퇴근시간기록
      $(".btn-list #endTimeBtn").click(function() {
             let today = new Date();   
      
             let hours = today.getHours(); // 시
             let minutes = today.getMinutes();  // 분
             let seconds = today.getSeconds();  // 초
             let milliseconds = today.getMilliseconds(); // 밀리초
      
             $('.table-responsive-lg .endTime').text(hours + ':' + minutes + ':' + seconds + ':' + milliseconds)
      });
      //외출시간
      $(".btn-list #breakTimeBtn").click(function() {
             let today = new Date();   
      
             let hours = today.getHours(); // 시
             let minutes = today.getMinutes();  // 분
             let seconds = today.getSeconds();  // 초
             let milliseconds = today.getMilliseconds(); // 밀리초
      
             $('.table-responsive-lg .breakTime').text(hours + ':' + minutes + ':' + seconds + ':' + milliseconds)
      });
      //외출시간
      $(".btn-list #returnTimeBtn").click(function() {
             let today = new Date();   
      
             let hours = today.getHours(); // 시
             let minutes = today.getMinutes();  // 분
             let seconds = today.getSeconds();  // 초
             let milliseconds = today.getMilliseconds(); // 밀리초
      
             $('.table-responsive-lg .returnTime').text(hours + ':' + minutes + ':' + seconds + ':' + milliseconds)
      });
   
   </script>
</th:block>
</body>
</html>