<!DOCTYPE html><!-- 출퇴근관리정리 -->
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default.html}">
<!-- th:replace="경로 :: 조각이름" -->

<head th:replace="fragments/head :: headFragment"></head>
<body>
<!-- 사용자 정의 contents -->
<th:block layout:fragment="customContents">
	<div class="card">
	<div class="card-body">
		<!-- 비밀번호가 일치할때 내용들이 활성화된다. -->
		<h4 class="card-title">비밀번호 확인</h4>
		<form class="mt-3">
		    <label class="form-control-label" for="inputSuccess1">비밀번호를 확인해 주세요.</label>
		    <input type="text" class="form-control is-valid" id="inputSuccess1">
		    <div class="valid-feedback">
		        Success! You've done it.
		    </div>
		</form><!-- th:action="@{/workWay/work_setting}" -->
		<form name="SettingPost"  method="get" class="mt-4">
			<div class="form-group mb-4">
				<h4 class="card-title">근무설정</h4>
		      	<label style="width:100%;">근무제선택</label>
				<select class="form-control col-10" name="worksystemName" style="float:left;">
					<th:block  th:if="${not #lists.isEmpty(list3)}" th:each="l : ${list3}">
						<option th:text="${l.worksystemName}"></option>
		           	</th:block>
	           	</select>
				<button  type="button" class="btn btn-primary col-2" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">추가하기</button>
				<div class="collapse" id="collapseExample">
					<div class="card formgroup" style="padding:1em 0;">
					    <input id="worksystemName" name="plusWorksystemName" type="text" placeholder="근무제 명을 입력해주세요.">
					    <button  id="selectadd" type="submit"  value="확인" class="btn btn-primary">확인</button><!-- id="addWorkSystem" -->
					</div>
				</div>
			</div>
			<div id="dayCheck" class="form-group">
				<label>근무요일선택</label>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="dayCheck" value="sun" onclick="getCheckboxValue()">일
					<input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="dayCheck" value="mon" onclick="getCheckboxValue()">월
					<input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="dayCheck" value="tue" onclick="getCheckboxValue()">화
					<input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="dayCheck" value="wen" onclick="getCheckboxValue()">수
					<input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="dayCheck" value="thr" onclick="getCheckboxValue()">목
					<input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="dayCheck" value="fri" onclick="getCheckboxValue()">금
					<input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="dayCheck" value="sat" onclick="getCheckboxValue()">토
					<!-- <label class="form-check-label" for="inlineCheckbox1">일</label> -->
				</div>
			</div>
			<div id="result"></div>
			<div>
				시작시간 : <input type="time" name="startTime" value="09:00:00">
				종료시간 : <input type="time" name="endTime" value="18:00:00">
				휴게시간 : <input type="time" name="breackTime" value="01:00:00">
			</div>
  	 	 	<button id="pagechange" name="pagechange" type="submit" class="btn btn-primary">양식보내기</button>
  	 	 	<!-- <button type="submit" onclick="pagechange()" class="btn btn-primary">양식보내기</button> -->
  	  		<!-- <submit type="submit" onclick="location.href='work_setting_list'" class="btn btn-primary">양식보내기</submit> -->
		</form>
		<!-- <form>
			<input type="hidden" name="worksystemName" id="worksystemName">
		</form> -->
	    </div>
	</div>
    <!-- <form>
		<input type="checkbox" name="test">aa
		<input type="checkbox" name="test">aa
		<input type="checkbox" name="test">aa
		<input type="checkbox" name="test">aa
		<input type="checkbox" name="test">aa
		<input type="submit" value="전송">
	</form> -->
	
</th:block>	

<th:block layout:fragment="customScript">
	
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/assets/libs/popper.js/dist/umd/popper.min.js}"></script>
    <script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.min.js}"></script>
    <!-- apps -->
    <!-- apps -->
    <script th:src="@{/dist/js/app-style-switcher.js}"></script>
    <script th:src="@{/dist/js/feather.min.js}"></script>
    <script th:src="@{/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
    <script th:src="@{/dist/js/sidebarmenu.js}"></script>
    <!--Custom JavaScript -->
    <script th:src="@{/dist/js/custom.min.js}"></script>
    <!--This page JavaScript -->
    <script th:src="@{/assets/extra-libs/c3/d3.min.js}"></script>
    <script th:src="@{/assets/extra-libs/c3/c3.min.js}"></script>
    <script th:src="@{/assets/libs/chartist/dist/chartist.min.js}"></script>
    <script th:src="@{/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js}"></script>
    <script th:src="@{/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js}"></script>
    <script th:src="@{/assets/extra-libs/jvector/jquery-jvectormap-world-mill-en.js}"></script>
    <script th:src="@{/dist/js/pages/dashboards/dashboard1.min.js}"></script>	
	
	<script type="text/javascript">
		
	
		function getCheckboxValue(){
			const query = "input[name='dayCheck']:checked";
			const selectedEls = document.querySelectorAll(query);
			let result = '';
			selectedEls.forEach((el) =>{
				result += el.value + '';
			});
			document.getElementById('result').innerText = result;
			}
				
		
		var selectOption = document.getElementById("")
		//console.log(test);
		$("input[type='checkbox']").on("click", function(){
			let count = $("input:checked[type='checkbox']").length;
				if(count > 3){
					$(this).prop('checked', false);
					alert("3개");
				}
			});
		
		
		$("#selectadd").click(function(){
			$("form").attr("action", "/workWay/work_setting");
		});

		$("#pagechange").click(function(){
			$("form").attr("action", "/workWay/work_setting_list");
		});
		
		
		//-------
		function SettingPostsubmit(){
			if(standardWorkCode.value == ''){
				return flase;
			}
			console.log(SettingPostsubmit);
			return true;
		}
	</script>
	
</th:block>