<!DOCTYPE html><!-- 출퇴근관리정리 -->
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default.html}">
<!-- th:replace="경로 :: 조각이름" -->

<head th:replace="fragments/head :: headFragment"></head>
<body>
<!-- 사용자 정의 contents -->
<th:block layout:fragment="customContents">
	<!-- 출퇴근 시간찍히는 곳 -->
	<div class="col-lg-12 ">
	    <!-- <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Password</h4>
                    <form class="mt-5">
                        <div class="form-group">
                            <input type="password" class="form-control" id="passtext" placeholder="Password">
                            
                        </div>
                    </form>
                </div>
            </div>
        </div> -->
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Select</h4>
                    <form class="mt-4">
                        <div class="form-group mb-4">
                            <label for="exampleFormControlSelect1">Select No</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>5일근무제</option>
                                <option>4일근무제</option>
                                <option>유연근무제</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </form>
					<form id="dayCheck">
					  <div class="form-group row">
					    <div class="col-sm-2">Checkbox</div>
					    <div class="form-check form-check-inline">
						  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="dayCheck" value="일" onclick="getCheckboxValue()">일
						  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="dayCheck" value="월" onclick="getCheckboxValue()">월
						  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="dayCheck" value="화" onclick="getCheckboxValue()">화
						  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="dayCheck" value="수" onclick="getCheckboxValue()">수
						  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="dayCheck" value="목" onclick="getCheckboxValue()">목
						  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="dayCheck" value="금" onclick="getCheckboxValue()">금
				  		  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="dayCheck" value="토" onclick="getCheckboxValue()">토
						  <!-- <label class="form-check-label" for="inlineCheckbox1">일</label> -->
						</div>
						
						<div id="result"></div>
					  </div>
					  <div class="form-group row">
					    <div class="col-sm-10">
					      <button type="submit" class="btn btn-primary">Sign in</button>
					    </div>
					  </div>
					</form>
                </div>
            </div>
        </div>
        <form>
		<input type="checkbox">aa
		<input type="checkbox">aa
		<input type="checkbox">aa
		<input type="checkbox">aa
		<input type="checkbox">aa
		<input type="submit" value="전송">
	</form>
	</div>
	<script type="text/javascript">
		function getCheckboxValue(){
			const query = "input[name='dayCheck']:checked";
			const selectedEls = document.querySelectorAll(query);
		let result = '';
		selectedEls.forEach((el) =>{
			result += el.value + '';
		});
		document.getElementById('result').innerText = result;
		}
				
		function check(){
					
					$("input[type='checkbox']").on("click", function(){
						let count = $("input:checked[type='checkbox']").length;
						
						if(count > 3){
							$(this).prop("checked", false);
							alert("3개");
						}
					});
				};
	</script>
</th:block>	

		
    <div th:replace="fragments/footer :: footerFragment"></div>
	
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/assets/libs/popper.js/dist/umd/popper.min.js}"></script>
    <script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.min.js}"></script>
    <!-- apps -->
    <!-- apps -->
    <script th:src="@{/dist/js/app-style-switcher.js}"></script>
    <script th:src="@{/dist/js/feather.min.js}"></script>
    <script th:src="@{/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
    <script th:src="@{/dist/js/sidebarmenu.js}"></script>
    <!--Custom JavaScript -->
    <script th:src="@{/dist/js/custom.min.js}"></script>
    <!--This page JavaScript -->
    <script th:src="@{/assets/extra-libs/c3/d3.min.js}"></script>
    <script th:src="@{/assets/extra-libs/c3/c3.min.js}"></script>
    <script th:src="@{/assets/libs/chartist/dist/chartist.min.js}"></script>
    <script th:src="@{/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js}"></script>
    <script th:src="@{/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js}"></script>
    <script th:src="@{/assets/extra-libs/jvector/jquery-jvectormap-world-mill-en.js}"></script>
    <script th:src="@{/dist/js/pages/dashboards/dashboard1.min.js}"></script>	
	
	
	
	
	
</body>
</html>