<!DOCTYPE html><!-- 출퇴근관리정리 -->
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default.html}">
<!-- th:replace="경로 :: 조각이름" -->

<!-- 사용자 정의 contents -->
<th:block layout:fragment="customContents">
<style rel="stylesheet" type="text/css">
	.boxbox{display: inline-flex;width: max-content;}
	.table-responsive{overflow-x:scroll !important; font-size:0.8rem;}
	.line-clear{display:inline-grid}
	.card-position{position:relative;}
	.btn-position{position:absolute; top:25px; right:25px;}
</style>
	<!-- 출퇴근 시간찍히는 곳 -->
	<div class="col-lg-12 ">
	    <div class="card" >
		    <div class="card-body card-position">
		    <h4 class="card-title">근무제 기본세팅</h4>
	             <h6 class="card-subtitle">
	             	회사별 세팅되어져 있는 근무제 값을 확인할 수 있다.
                 </h6>
                 <div class="btn-position">
	                 <button class="btn btn-primary" type="button" onclick="location.href='work_setting'">뒤로가기</button>
	                 <button class="btn btn-primary" type="button">추가</button>
                 </div>
	             <div class="table-responsive" >
	                 <table class="table">
						<tbody class="boxbox">
							<tr th:if="${not #lists.isEmpty(workSettingList)}" scope="row" class="line-clear">
								<th scope="row" >사원명</th>
								<!-- <td scope="row">백민주</td> -->
								<td type="text" name="regUser" th:each="w : ${workSettingList}" th:text="${w.regUser}" scope="row">#</td>
							</tr>
							<tr class="line-clear">
								<th scope="col">회사코드</th>
								<td th:if="${not #lists.isEmpty(workSettingList)}" th:each="w : ${workSettingList}" th:text="${w.standardWorksystemCpCode}" scope="row">#{code}</td>
							</tr>
							<!-- <tr class="line-clear">
								<th scope="col">회사코드</th>
								<td  th:if="${not #lists.isEmpty(workSettingList)}" th:each="w : ${workSettingList}" th:text="${w.standardWorksystemCpCode}" scope="row">#</td>
							</tr> -->
							<!-- <tr class="line-clear" >
								<th scope="col">근태방식</th>
								<td th:if="${not #lists.isEmpty(workSettingList)}" th:each="w : ${workSettingList}" th:text="${w.standardWorksystemCpCode}" scope="row">#</td>
							</tr> -->
							<!-- <tr class="line-clear">
								<th scope="col">회사고유주소</th>
								<td  th:if="${not #lists.isEmpty(workSettingList)}" th:each="w : ${workSettingList}" th:text="${w.cpRepresentativeCode}" scope="row">#</td>
							</tr> -->
							<tr class="line-clear">
								<th scope="col">회사대표코드</th>
								<td th:if="${not #lists.isEmpty(workSettingList)}" th:each="w : ${workSettingList}" th:text="${w.superAdminId}" scope="row">#</td>
							</tr>
							<!-- <tr class="line-clear">
								<th scope="col">회사근무제코드</th>
								<td th:if="${not #lists.isEmpty(workSettingList)}" th:each="w : ${workSettingList}" th:text="${w.standardWorkCode}" scope="row">#</td>
							</tr> -->
							<tr class="line-clear">
								<th scope="col">시작시간</th>
								<td th:if="${not #lists.isEmpty(workSettingList)}" th:each="w : ${workSettingList}" th:text="${w.workStartTime}" scope="row">#</td>
							</tr>
							<tr class="line-clear">
								<th scope="col">종료시간</th>
								<td th:if="${not #lists.isEmpty(workSettingList)}" th:each="w : ${workSettingList}" th:text="${w.workEndTime}" scope="row">#</td>
							</tr>
							<tr class="line-clear">
								<th scope="col">휴게시간</th>
								<td th:if="${not #lists.isEmpty(workSettingList)}" th:each="w : ${workSettingList}" th:text="${w.breakTime}" scope="row">#</td>
							</tr>
							<tr class="line-clear">
								<th scope="col">회사명</th>
								<td th:if="${not #lists.isEmpty(workSettingList)}" th:each="w : ${workSettingList}" th:text="${w.cpName}" scope="row">#</td>
							</tr>
							
							<!-- <tr class="line-clear">
								<th scope="col">근태방법코드</th>
								<td th:if="${not #lists.isEmpty(workSettingList)}" th:each="w : ${workSettingList}" th:text="${w.workwayCode}" scope="row">#</td>
							</tr> -->
							<tr class="line-clear">
								<th scope="col">근태방법</th>
								<td th:if="${not #lists.isEmpty(workSettingList)}" th:each="w : ${workSettingList}" th:text="${w.workwayName}" scope="row">#</td>
							</tr>
							<tr class="line-clear">
								<th scope="col">근무제</th>
								<td th:if="${not #lists.isEmpty(workSettingList)}" th:each="w : ${workSettingList}" th:text="${w.worksystemName}" scope="row">#</td>
							</tr>
							<tr class="line-clear">
								<th scope="col">등록자</th>
								<td th:if="${not #lists.isEmpty(workSettingList)}" th:each="w : ${workSettingList}" th:text="${w.regUser}" scope="row">#</td>
							</tr>
							<tr class="line-clear">
								<th scope="col">등록일</th>
								<td th:if="${not #lists.isEmpty(workSettingList)}" th:each="w : ${workSettingList}" th:text="${w.regDate}" scope="row">#</td>
							</tr>
						</tbody>
					</table>
	             </div>
	         </div>
	    </div>
	</div>
		
</th:block>
 

<th:block layout:fragment="customScript">
   
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/assets/libs/popper.js/dist/umd/popper.min.js}"></script>
    <script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.min.js}"></script>
    <!-- apps -->
    <!-- apps -->
    <script th:src="@{/dist/js/app-style-switcher.js}"></script>
    <script th:src="@{/dist/js/feather.min.js}"></script>
    <script th:src="@{/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
    <script th:src="@{/dist/js/sidebarmenu.js}"></script>
    <!--Custom JavaScript -->
    <script th:src="@{/dist/js/custom.min.js}"></script>
    <!--This page JavaScript -->
    <script th:src="@{/assets/extra-libs/c3/d3.min.js}"></script>
    <script th:src="@{/assets/extra-libs/c3/c3.min.js}"></script>
    <script th:src="@{/assets/libs/chartist/dist/chartist.min.js}"></script>
    <script th:src="@{/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js}"></script>
    <script th:src="@{/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js}"></script>
    <script th:src="@{/assets/extra-libs/jvector/jquery-jvectormap-world-mill-en.js}"></script>
    <script th:src="@{/dist/js/pages/dashboards/dashboard1.min.js}"></script>   

<script>
 	function test(){
 		
	var formData = new FormData();
	formData.append('worksystemName','주5일');
	
	var SettingPost = document.getElementById('SettingPost');
	formData = new FormData(SettingPost);
	
	console.log(SettingPost);
 		return true;
 	}

</script>

