<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">

	<th:block layout:fragment="customContents">
		<div class="panel-hedding">
			<div class="row justify-content-center mb-4" style="background: #FFF">
				<div class="col-12 col-la-10 col-xl-8">
					<div class="row">
						<div class="col-12">
							<div class="card" style="-webkit-box-shadow: none;">
								<div class="card-body">
									<div class="card-title">
										<form id="addBoard" th:action="@{/board/department_list}" method="post" enctype="multipart/form-data">
											<table class="table table-bordered">
												<thead>
													<tr>
														<th scope="col" style="width: 15%;">#</th>
														<th scope="col">게시판</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<th scope="row">정보</th>
														<td>
															<div class="form-group row" style="display: none;">
																<div class="col-md-2 col-sm-2">
																	<label class="control-label" for="noticeNum">게시글 번호</label>
																</div>
																<div class="col-md-8 col-sm-8 ">
																	<input type="text" class="form-control"
																	 name="postNum">
																</div>
															</div>
															<div class="form-group row">
																<div class="col-md-2 col-sm-2">
																	<label class="control-label" for="">제목</label>
																</div>
																<div class="col-md-10 col-sm-8 ">
																	<input type="text" class="form-control" readonly="readonly"
																	 name="postTitle" th:value="${departmentDetail.postTitle}">
																</div>
															</div>
															<div class="form-group row">
																<div class="col-md-2 col-sm-2">
																	<label class="control-label" for="">카테고리</label>
																</div>
																<div class="col-md-10 col-sm-8 ">
																	<input type="text" class="form-control" readonly="readonly"
																	 name="postCate" th:value="${departmentDetail.departmentCate}">
																</div>
															</div>
															<div class="form-group row">
																<div class="col-md-2 col-sm-2">
																	<label class="control-label" for="noticeDate">날짜</label>
																</div>
																<div class="col-md-5 col-sm-3 ">
																	<input type="text" class="form-control" readonly="readonly"
																	 name="postDate" th:value="${departmentDetail.regDate}">
																</div>
															</div>
															<div class="form-group row">
																<div class="col-md-2 col-sm-2">
																	<label class="control-label" for="noticeDate">작성자</label>
																</div>
																<div class="col-md-4 col-sm-3 ">
																	<input type="text" class="form-control" readonly="readonly"
																	 name="postRegUserName" th:value="${departmentDetail.regUserName}">
																</div>
															</div>
															<div class="form-group row" style="display: none;">
																<div class="col-md-2 col-sm-2 ">
																	<label class="control-label" for="" >조회수</label>
																</div>
																<div class="col-md-3 col-sm-3 ">
																	<input type="number" class="form-control" readonly="readonly"
																	 name="" >
																</div>
															</div>
															<div class="form-group row">
																<div class="col-md-2 col-sm-2">
																	<label class="control-label" for="noticeContent">내용</label>
																</div>
																<div class="col-md-10 col-sm-8 ">
																	<textarea class="form-control" rows="15" name="postContent" readonly="readonly">
																	[[${departmentDetail.postContents}]]</textarea>
																</div>
															</div>
														</td>
													</tr>
													<tr>
													<th scope="row">첨부파일</th>
														<td>
															<div class="form-group row">
																<div class="col-md-2 col-sm-2">
																	<label class="control-label">첨부파일</label>
																</div>
																<div class="col-md-6 col-sm-6 ">
																	<input type="file">
																</div>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
											<div class="form-group">
												<div class="col-md-8 col-sm-8  offset-md-4">
													 <a class="btn btn-primary" href="javascript:history.back(-1)">뒤로가기</a>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>