<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
<!-- th:replace="경로 :: 조각이름" -->
<head th:replace="fragments/head :: headFragment"></head>
<body>
	

	<!-- 사용자 정의 contents -->
	<th:block layout:fragment="customContents">
		<!-- <div class="card">
			<div class="card-body">
			
			    <div class="input-group" id="adv-search">
			        <select id="searchType" class="form-control">
			            <option value="">전체</option>
			            <option value="cate">카테고리</option>
			            <option value="title">제목</option>
			            <option value="content">내용</option>
			            <option value="writer">작성자</option>
			        </select>
			        <input type="text" id="searchKeyword" class="form-control" placeholder="키워드를 입력해 주세요." style="width: 800px;" />
			        <button type="button" class="btn btn-primary">
			            <span class="fas fa-search"></span>
			        </button>
		    	</div>
			
			</div>
		</div> -->
		
		<div class="card">
			<div class="card-body">

			    <!--/* 게시글 영역 */-->
			    <div class="table-responsive clearfix">
					<table class="table table-hover">
						<thead class="bg-primary text-white">
							<tr>
			                    <th>번호</th>
			                    <th>카테고리</th>
			                    <th>제목</th>
			                    <th>작성자 이름</th>
			                    <th>등록일</th>
			                    <th>조회 수</th>
			                </tr>
						</thead>
						<tbody>
							<tr th:if="${not #lists.isEmpty(departmentPagingList)}" th:each="l : ${departmentPagingList}">
								<td th:text="${l.departmentIdx}"></td>
								<td th:text="${l.departmentCate}"></td>
								<td><a th:href="@{/board/department_detail(departmentPostCode=${l.departmentPostCode})}"
									   th:text="${l.postTitle}"></a></td>
								<td th:text="${l.regUserName}"></td>
								<td th:text="${l.regDate}"></td>
								<td th:text="${l.viewCnt}"></td>
							</tr>
							<tr th:unless="${not #lists.isEmpty(departmentBoardList)}">
								<td colspan="6">조회된 내용이 없습니다.</td>
							</tr>
						</tbody>
<!-- 						<tfoot>
							<tr>
								<td colspan="6" style="text-align: center;">
								
									<a th:href="@{/board/department_list}">[맨처음]</a>
									<a th:if="${currentPage > 1}" th:href="@{/board/department_list(currentPage=${currentPage - 1})}">[이전]</a>
									<th:block th:each="num : ${#numbers.sequence(startPageNum, endPageNum)}">
										<label th:if="${currentPage eq num}" th:text="${(num < 10) ? '[0' + num + ']' :'[' + num + ']'}"></label>
										<a th:unless="${currentPage eq num}" th:href="@{/board/department_list(currentPage=${num})}" th:text="${(num < 10) ? '[0' + num + ']' :'[' + num + ']'}"></a>
									</th:block>
									
									<a th:if="${currentPage < lastPage}" th:href="@{/board/department_list(currentPage=${currentPage + 1})}">[다음]</a>
									<a th:href="@{/board/department_list(currentPage=${lastPage})}">[마지막]</a>
								</td>
							</tr>
						</tfoot> -->
			
			        </table>
			    </div>
		    
			<div class="col-lg-12 text-center">
				<div class="pagination_option">
					<a th:href="@{/board/department_list}">[맨처음]</a>
					<a th:if="${currentPage > 1}" th:href="@{/board/department_list(currentPage=${currentPage - 1})}"><i class="fa fa-angle-left"></i></a>
					<th:block th:each="num : ${#numbers.sequence(startPageNum,endPageNum)}">
						<label th:if="${currentPage eq num}" th:text="${(num<10) ? '0' + num  :  num }"></label>
						<a th:unless="${currentPage eq num}" th:href="@{/board/department_list(currentPage=${num})}" th:text="${(num<10) ? '0' + num  :  num }"></a>
					</th:block>
					<a th:if="${currentPage < lastPage}" th:href="@{/board/department_list(currentPage=${currentPage + 1})}"><i class="fa fa-angle-right"></i></a>
					<a th:href="@{/board/department_list(currentPage=${lastPage})}">[마지막]</a>
				</div>
			</div>
		    
			<div class="btn_wrap text-right">
				<a class="btn btn-primary " href="department_write" role="button">글쓰기</a>
			</div>       
			
			</div>
		</div>
    </th:block>
	
	<th:block layout:fragment="script">
    	
    </th:block>

    
</body>
</html>