<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	  
	  
	<th:block layout:fragment="customContents">
		<div class="card">
			<div class="card-body">
				<!--/* 게시글 영역 */-->
				<div class="table-responsive">
					<table id="zero_config" class="table table-striped table-bordered no-wrap">
						<thead class="bg-primary text-white">
							<tr>
			                    <th>번호</th>
			                    <th>제목</th>
			                    <th>작성자 이름</th>
			                    <th>등록일</th>
			                    <th>조회 수</th>
			                </tr>
						</thead>
						<tbody>
							<tr th:if="${not #lists.isEmpty(noticePagingList)}" 
								th:each="l : ${noticePagingList}">
								<td th:text="${l.cpNoticeIdx}"></td>
								<td><a th:href="@{/board/notice_detail(cpNoticeCode=${l.cpNoticeCode})}"
									   th:text="${l.noticeTitle}"></a></td>
								<td th:text="${l.regUserName}"></td>
								<td th:text="${l.regDate}"></td>
								<td th:text="${l.viewCnt}"></td>
							</tr>
							<tr th:unless="${not #lists.isEmpty(noticeBoardList)}">
								<td colspan="5">등록된 게시물이 없습니다.</td>
							</tr>
						</tbody>
			        </table>
			    </div>
		    
				<div class="btn_wrap text-right">
					<a class="btn btn-primary " th:href="notice_write" role="button">글쓰기</a>
				</div>
		       
			</div>
		</div>
	</th:block>
	
	<th:block layout:fragment="customScript">
		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
		<script th:src="@{/assets/extra-libs/taskboard/js/jquery.ui.touch-punch-improved.js}"></script>
		<script th:src="@{/assets/extra-libs/taskboard/js/jquery-ui.min.js}"></script>
		<script th:src="@{/assets/libs/popper.js/dist/umd/popper.min.js}"></script>
		<script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.min.js}"></script>
		<!-- ============================================================== -->
		<!-- apps -->
		<!-- ============================================================== -->
		<script th:src="@{/dist/js/app-style-switcher.js}"></script>
		<script th:src="@{/dist/js/feather.min.js}"></script>
		<script th:src="@{/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
		<script th:src="@{/dist/js/sidebarmenu.js}"></script>
		<!-- ============================================================== -->
		<!--Custom JavaScript -->
		<!-- ============================================================== -->
		<script th:src="@{/dist/js/custom.min.js}"></script>
		<!-- ============================================================== -->
		<!--This page JavaScript -->
		<!-- ============================================================== -->
		<script th:src="@{/assets/libs/moment/min/moment.min.js}"></script>
		<script th:src="@{/assets/libs/fullcalendar/dist/fullcalendar.min.js}"></script>
		<script th:src="@{/dist/js/pages/calendar/cal-init.js}"></script>
	    <!-- 확인 -->
	    <!-- Bootstrap tether Core JavaScript -->
	    
	    <script th:src="@{/assets/extra-libs/sparkline/sparkline.js}"></script>
	    
	    <!--This page plugins -->
	    <script th:src="@{/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js}"></script>
	    <script th:src="@{/dist/js/pages/datatable/datatable-basic.init.js}"></script>

	</th:block>

    
</body>
</html>