<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	  
	<th:block layout:fragment="customContents">
		<div class="card">
			<div class="card-body">

			    <!--/* 게시글 영역 */-->
			    <div class="table-responsive clearfix">
					<table class="table table-hover">
						<thead class="bg-primary text-white">
							<tr>
			                    <th>번호</th>
			                    <th>제목</th>
			                    <th>작성자 이름</th>
			                    <th>등록일</th>
			                    <th>조회 수</th>
			                </tr>
						</thead>
						<tbody>
							<tr th:if="${not #lists.isEmpty(noticePagingList)}" 
								th:each="l : ${noticePagingList}">
								<td th:text="${l.cpNoticeIdx}"></td>
								<td><a th:href="@{/board/notice_detail(cpNoticeCode=${l.cpNoticeCode})}"
									   th:text="${l.noticeTitle}"></a></td>
								<td th:text="${l.regUserName}"></td>
								<td th:text="${l.regDate}"></td>
								<td th:text="${l.viewCnt}"></td>
							</tr>
							<tr th:unless="${not #lists.isEmpty(noticeBoardList)}">
								<td colspan="5">조회된 내용이 없습니다.</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="4" style="text-align: center;">
									<a th:href="@{/board/notice_list}">[맨처음]</a>
									<a th:if="${currentPage > 1}" th:href="@{/board/notice_list(currentPage=${currentPage - 1})}">[이전]</a>
									<th:block th:each="num : ${#numbers.sequence(startPageNum, endPageNum)}">
										<label th:if="${currentPage eq num}" th:text="${(num < 10) ? '[0' + num + ']' :'[' + num + ']'}"></label>
										<a th:unless="${currentPage eq num}" th:href="@{/board/notice_list(currentPage=${num})}" th:text="${(num < 10) ? '[0' + num + ']' :'[' + num + ']'}"></a>
									</th:block>
									
									<a th:if="${currentPage < lastPage}" th:href="@{/board/notice_list(currentPage=${currentPage + 1})}">[다음]</a>
									<a th:href="@{/board/notice_list(currentPage=${lastPage})}">[마지막]</a>
								</td>
							</tr>
						</tfoot>
			        </table>
			    </div>
		    
		    
		       <div class="btn_wrap text-right">
		       		<a class="btn btn-primary " th:href="notice_write" role="button">글쓰기</a>
		       </div>
		
		       <!-- 페이지네이션 Rendering 영역 -->
		        <nav aria-label="Page navigation">
					
				</nav>
		       
			</div>
		</div>
    </th:block>
	
	<th:block layout:fragment="script">
    	
    </th:block>

    
</body>
</html>